[2016-02-08 17:45] brunogrande commented on #6
It's also worth asking the Shah lab if they already have a component that accomplishes this.

[2020-01-29 18:30] rdmorin opened #1 "Sequenza (CNV caller)"
I have a Sequenza Snakefile we can use as a starting point. Optionally this pipeline should include custom filters for FFPE data sets. Otherwise, we could have a separate FFPE version. My preference is for one pipeline that works on both and runs data-specific rules depending on the type of genome indicated in the metadata.

https://github.com/rdmorin/cancer_docker_singularity/tree/master/sequenza

[2020-01-29 18:33] rdmorin opened #2 "GISTIC2 (CNV analysis)"
I have a Snakefile for running GISTIC that can be used as a starting point. It includes a Dockerized/singularity image. We will need to consider what copy number formats to support and modify Prasath's script accordingly. For now, I've packaged a stable version of his script with the pipeline. This is not a good solution.

https://github.com/rdmorin/cancer_docker_singularity/tree/master/gistic2

[2020-01-29 19:23] rdmorin opened #3 "Manta (SV caller)"
This should be a very straightforward one. It's unclear to me if Manta on FFPE genomes is giving useful results. If so, is there anything we need to do differently for this data type?

[2020-01-30 05:27] rdmorin opened #4 "GRIDSS-PURPLE-LINX (CNV and SV callers)"
There is a working Snakefile I've been using for this pipeline, based on Laura's implementation. It generates a massive amount of tempfiles and really needs to properly utilize scratch space and the shadow directive.

[2020-02-04 04:03] BrunoGrandePhD opened #5 "Feature Requests"
I've put together the following list of feature requests to keep in mind when designing the pipelines based on a discussion with the CLC bioinformaticians. I've also listed some pros and cons to consider for each feature.

### Terminology

Before going over the features, I wanted to bring up the issue of terminology. During the meeting, we agreed to refer to the modular units as modules (what I've

[2020-02-04 04:25] rdmorin commented on #5
I would also like us to pay attention to file permissions such that more than one user in the same group can run snakemake in the same project folder. i.e. setting group-write permissions for all output files and hidden files/folders created by snakemake. I'll let you decide whether or not this counts as a feature request. It may make more sense to deploy this "feature" at the level of the main Sn

[2020-02-09 17:12] rdmorin opened #6 "SigProfiler/SignatureAnalyzer (mutational signature analysis)"
We should try to adapt the wrapper code Luka and Eric Zhao provided into a portable pipeline. I'm sure Luka would appreciate having his code made more portable. Perhaps he even wants to be involved in the process.

[2020-02-11 19:32] BrunoGrandePhD commented on #5
Comments

[2020-02-20 20:38] rdmorin opened #7 "vcf2maf pipeline"
I've created one of these that uses a Docker image. It should be easily modified to make that optional and use conda instead. I haven't tried to get vcf2maf working via conda.

[2020-02-21 15:36] rdmorin commented on #5
We are going to have to make all pipelines portable enough to allow them to run in Amazon EC2, pulling input files from remote URLs and S3 buckets as needed.

[2020-02-21 18:59] rdmorin commented on #5
Automatic/elegant handling of cram when the bam has been compressed

[2020-04-07 00:29] BrunoGrandePhD commented on #5
With the initial release of `lcr-modules`, I'm closing this issue. We will be tracking feature requests in individual tickets.

[2020-04-07 00:29] #5 closed, assigned to nobody

[2020-04-07 00:31] BrunoGrandePhD commented on #3
This was implemented in PR #8. This module may be updated later for better handling FFPE data.

[2020-04-07 00:31] #3 closed, assigned to nobody

[2020-04-07 02:44] whelena opened #9 "bam_util (sort, filter, mark and remove duplicates)"

[2020-04-07 02:45] whelena opened #10 "bam2fastq module"

[2020-04-07 02:46] whelena opened #11 "bwa_mem module"

[2020-04-07 02:46] whelena opened #12 "pseudoalignment modules (salmon, kallisto)"

[2020-04-07 02:46] whelena opened #13 "varscan2 module"

[2020-04-07 02:47] whelena opened #14 "mutect module"

[2020-04-07 02:48] whelena opened #15 "QC modules (picard and fastqc)"

[2020-04-07 02:48] whelena opened #16 "strelka module"

[2020-04-07 02:49] whelena opened #17 "delly module"

[2020-04-07 14:20] rdmorin opened #18 "IGV screenshot pipeline"
A beta version with Python helper script has already been implemented by Ryan and Jasper.

[2020-04-07 15:39] rdmorin commented on #6
We should test out the methods from PCAWG. It's not worth implementing a module for the older method as long as the more sophisticated ones work in our hands.

[2020-04-07 15:45] rdmorin opened #19 "U1 spliceosomal RNA variant calling"
I've been given most pieces of the pipeline implemented by Elias Campo's group to realign reads and call and annotate somatic variants in U1. This should be easy to convert to Snakemake.

[2020-04-07 15:47] rdmorin opened #20 "ichorCNA"
I expect we will begin applying this to normals to identify tumour contamination and I hope it will be useful to estimate purity in pre-selecting tumours for deeper sequencing (e.g. WGS).

[2020-04-07 16:01] rdmorin opened #21 "Rainstorm/Doppler"
Python and R implementations exist. Need to consider if we should make Snakemake workflows for both or just move forward with the most useful/efficient.

[2020-04-07 16:21] rdmorin opened #22 "STAR"
It is becoming increasingly clear to me that we need a STAR pipeline that runs it with sensible parameters. The default settings are terrible. We should generate bam files that can be run through STAR-fusion later on and that include all the original reads including:

Chimeric/discordant read pairs
Unmapped reads
No hard clipping

[2020-04-07 17:49] matnguyen opened #23 "RNAseq Variant Calling Pipeline"
I have an RNAseq Variant Calling Pipeline in snakemake form, adapted from the one made by Jeffrey for BL. I can modify it to fit lcr-modules guidelines.

[2020-04-07 17:50] matnguyen commented on #21
The way I've been running it is Python-Rainstorm, R-Doppler (and I think this is the way Prasath ran it too)

[2020-04-07 18:46] BrunoGrandePhD commented on #11
I'm splitting the BWA MEM and STAR modules because the STAR module might be a bit more urgent. I think I'll take a stab at it. See #22.

[2020-04-07 18:57] BrunoGrandePhD commented on #23
Write access granted. Please develop on a branch named after your module (_e.g._ `rnaseq-variant-calling`) and then submit a PR. I'll have more detailed contribution guidelines before the end of the week.

[2020-04-10 17:43] BrunoGrandePhD opened #26 "Allow module output subdirectories to be symlinks to a scratch directory"
Some modules create large intermediate files. Normally, the `temp()` feature in Snakemake can ensure that these files are automatically deleted. However, some file systems take snapshots (_e.g._ every hour) as a form of backup, and this will cause the large intermediate files to be stored even after it is deleted by Snakemake due to `temp()`. Also, not everyone is running their modules in a large

[2020-04-15 01:44] BrunoGrandePhD opened #27 "Refactor modutils as a more object-oriented package"
What started off as a small collection of functions has become more complex and could use a refactor now knowing what is required of modutils. The package would be much simpler if an object-oriented approach would be taken for describing modules. Here's a list of features that would be easier to implement with OOP:

- [ ] Format `{REPODIR}` and `{MODSDIR}` in formatters (_e.g._ `switch_on_*()` fun

[2020-04-17 20:25] BrunoGrandePhD opened #28 "Allow for a shared space for lcr-modules conda environments"
Conda environments can take up a considerable amount of space and they take time to create. By default, they are installed locally in `.snakemake/conda`, meaning that time and space would be duplicated for each project.

It would be ideal to have a shared space to store the conda environments in `lcr-modules` since they are identical between different projects. This will speed up module launching

[2020-04-22 22:11] lkhilton opened #29 "Manta fails if index files aren't produced simultaneously"
I'm running a RNAseq pipeline where BAMs are aligned with STAR and duplicates are marked with GATK MarkDuplicates. The .bai index files are produced in a subsequent step. Because the Manta module takes only .bam files as input and assumes the .bai indexes exist, Snakemake proceeded to run Manta before the .bai indexes were created, meaning it populated the `00-inputs` directory with dead symlinks

[2020-04-22 22:18] BrunoGrandePhD commented on #29
Oups, I got lazy with the input rule. I hesitate to add a user-configurable input file for the BAM index because they could be in different directories if used by a madman/madwoman. I think the following should fix the issue, since it will trigger Snakemake to wait for the BAI files to be created. Let me know if this solves your issue.

[code]

[2020-04-22 22:26] lkhilton commented on #29
Looks perfect, thanks!

[2020-04-22 22:52] BrunoGrandePhD commented on #29
Scratch that.

Because inputs like `CFG["inputs"]["sample_bam"]` can be functions, I can't just use `+ ".bai"`. I think @lkhilton's original suggestion is better. And I just realized now that the potential issue where the BAM and BAI files are separated is a non-issue, since I symlink them next to one another anyways. This will be fixed in an upcoming release.

[2020-04-24 21:39] lkhilton commented on #22
@BrunoGrandePhD as you develop this I wanted you to be aware of a problem I've run into with STAR's built-in sorting function. Basically it has problems with some transcriptomes, especially if there's abnormal depth in a region (I think the likely culprit here is ribosomal and/or MT transcripts that didn't get cleaned up properly), and it might not be possible to designate enough memory to solve t

[2020-04-26 00:58] BrunoGrandePhD commented on #22
Yeah, I ran into this too in my one test run with STAR. It did seem strange that my RNA-seq BAM needed 50 GB of RAM. Thanks for pointing out the GitHub issue! I will happily resort to using samtools or sambamba for BAM sorting.

[2020-04-26 01:14] rdmorin commented on #22
Using Samtools sort will probably be faster too because it uses threading elegantly. Keep in mind that for any samtools sort step, you should explicitly provide the temp prefix (-T) as scratch space. This is more of a concern for files that can't be sorted in memory.

[2020-04-26 01:25] BrunoGrandePhD commented on #22
sambamba's main draw was its parallelization, but I don't know if it's much faster now that samtools has implementing threading. I also looked into biobambam2's [bamsormadup](https://gitlab.com/german.tischler/biobambam2), which sorts and mark duplicates in one step. However, while it might be more efficient and faster, the documentation isn't great and it isn't being updated regularly on conda. I

[2020-04-26 02:09] rdmorin commented on #22
Someone out there probably has benchmarked samtools sort vs sambamba with an equal number of threads. I haven't compared them head to head but samtools is very robust. I would also prefer to avoid Picard wherever there is another reasonable option.

[2020-04-29 23:15] lkhilton opened #30 "Manta won't rerun if input BAM files are updated"
I have make changes to some of the BAM files I'm using as input to manta because of errors. I deleted the BAM files in question and was planning to run Snakemake with `_manta_all` as the target rule, which should also trigger re-generating the input BAM files, but this doesn't seem to be working. I deleted the symlinks in the `00-inputs` folder, but my Snakemake dry run is still telling me that th

[2020-04-29 23:18] lkhilton commented on #30
Tagging @BrunoGrandePhD

[2020-04-29 23:27] lkhilton commented on #30
I'm realizing this may be a feature/bug of the `configManta.py` part of Manta because the bam file is effectively ignored by the `_manta_run` rule. Perhaps this is fixable by using the sample_bam as input to `_manta_run` even though it doesn't actually use bam file directly.

[2020-04-29 23:27] rdmorin commented on #30
I suspect this has something to do with the checkpoints and a disconnect (i.e. variable mapping of file name) between what files are produced and what the inputs are.

[2020-04-30 18:16] lkhilton commented on #30
I'm also having trouble getting the manta module to complete bedpe generation and symlinking. Here you can see 103 `rnaSV/*.vcf.gz` files, but only 98 bedpes.

[code]

The output of `snakemake -np _manta_all` is as follows:
[code]

I have one Manta job that keeps erroring out, so I expect one Manta run. However I also expected this to show jobs relating to bedpe generation. Is the issue here that

[2020-04-30 18:17] BrunoGrandePhD commented on #30
I still need to look into the workflow not being triggered by newer input files, but the lower number of BEDPE files could be explained by the corresponding VCF files being empty. Could you check this?

[2020-04-30 18:24] lkhilton commented on #30
You are correct, there are five empty vcfs.

Now I see that you're removing empty VCFs from the bedpe targets. Is it possible to output a warning message about that?

[2020-04-30 23:30] BrunoGrandePhD commented on #30
Absolutely, I can add a message. I might remove the checkpoint altogether because it seems to create more hassle than it's worth. I agree with Ryan: I suspect that it might account for the lack of re-runs when the upstream data is updated.

[2020-05-01 00:00] BrunoGrandePhD opened #31 "Control-FREEC"
https://github.com/BoevaLab/FREEC

[2020-05-01 14:57] BrunoGrandePhD commented on #30
@lkhilton: Did you re-run the module yet (presumably by deleting the output files)? If not, could you try deleting the "sentinel files" from the `_manta_all_dispatch` rule? They're hidden (start with a period) in the `99-outputs/bedpe` subdirectory.

[code]

[2020-05-01 15:10] rdmorin commented on #30
I wonder if it would be better if those files were not hidden. What is the rationale for that besides it making less "clutter" when we ls the directory?

[2020-05-01 15:46] BrunoGrandePhD commented on #30
It was to minimize clutter, but I made that decision before I added the `bedpe` and `vcf` subdirectories in `99-outputs`. I've now moved to:
[code]

[2020-05-01 16:06] BrunoGrandePhD commented on #30
After fixing a bug in my `calc_manta_vaf` script, it can now handle empty VCF files. So, there's no need for me to exclude empty VCF file from BEDPE processing. Note that svtools produces no output at all (rather than a header-only file), which might confuse downstream rules, but I think it's better to have an empty file than no file at all.

[2020-05-01 16:47] BrunoGrandePhD commented on #30
As far as I can tell, I have successfully removed the checkpoint from the manta module. This should simplify everything.

[2020-05-01 18:31] lkhilton opened #32 "Modutils: Subset sample table by exclusion criteria"
The `filter_samples()` function in `modutils` is currently able to filter the sample metadata based on things to _include_. Could you please implement the ability to specify samples to _exclude_?

[2020-05-01 18:48] BrunoGrandePhD commented on #32
Note to self: Add mention of `filter_samples()` to the documentation and demo Snakefile.

[2020-05-01 19:52] lkhilton commented on #30
I can confirm that deleting the `.dispatch` file initiates a re-run of manta on updated bam files.

[2020-05-01 20:14] BrunoGrandePhD commented on #22
Based on this blog post, sambamba makes better use of multithreading, but it's from 2016. samtools has probably improved in the interim. Since I'll be using sambamba over picard for marking duplicates, I'll use probably sambamba for sorting too.

https://www.basepairtech.com/blog/sorting-bam-files-samtools-vs-sambamba/

[2020-05-02 01:24] BrunoGrandePhD commented on #30
I've updated the `_get_manta_files()` function to predict the output VCF files based on command-line options provided to Manta instead of waiting to see which ones are created by Manta. This should solve the issue reported here. I'll do a quick test before closing this issue.

https://github.com/LCR-BCCRC/lcr-modules/blob/dev-bgrande/modules/manta/1.0/manta.smk#L215-L252

[2020-05-08 04:29] BrunoGrandePhD commented on #10
I and others have had mixed experience with `picard SamToFastq`. I would be curious to hear if people have consistently been able to use it without issues in the LCR.

Alternatively, I have a script that I've been using (mostly with GSC BAM files) that uses `samtools fastq` instead. I haven't used it on genome BAM files, so I would need to confirm if its memory usage is reasonable (or at least as

[2020-05-11 15:39] BrunoGrandePhD opened #33 "Add function for automatically increasing `mem_mb` on retries"
Snakemake allows resources like `mem_mb` to be functions with an `attempt` parameter. This makes it easy to wrap any value to be automatically increase (_e.g._ by 50%) on failed attempts, assuming memory was the issue.

https://snakemake.readthedocs.io/en/stable/snakefiles/rules.html#resources

[2020-05-11 20:55] BrunoGrandePhD opened #34 "Develop testing suite for oncopipe package"
Before refactoring the `oncopipe` package (see #27), it would be really useful to create a suite of tests to ensure no regressions occurs.

[2020-05-11 21:01] BrunoGrandePhD commented on #34
Good resource to set up testing: https://realpython.com/python-testing/

It seems that PyTest might be the simplest to set up: https://docs.pytest.org/en/latest/

This blog post also suggests pytest: http://www.rohitschauhan.com/index.php/2018/07/05/python-relative-benefits-of-pytest-unittest-nose-and-doctest/

We can just start with a single Python script (_e.g._ `test_oncopipe.py`). I can organi

[2020-05-12 20:44] whelena commented on #34
I'm wondering how to run tests on functions without a return value. I did some research and come across the python `Mock` package. I haven't gone too in depth into its documentation but  from what I understand it would let me assert if a function is called and if the arguments fed into the functions are accurate using something like:
Do you have any inputs or suggestions for a different approach?

[2020-05-12 21:00] BrunoGrandePhD commented on #34
I think it depends on the function. Some functions could probably be further modularized into smaller functions that do have return values. Since I'll be refactoring `oncopipe`, I don't want to spend too much time creating custom tests to account for the current structure.

[2020-05-12 21:02] whelena commented on #34
Okay, so far I only managed to test the simplest functions and I'm not really sure what's the best way to test out functions that require snakemake config files or wildcards.

[2020-05-12 21:02] BrunoGrandePhD commented on #34
Just a heads-up, I sometimes use the `inspect` package to pull variables from the parent scope/frame. Here's [an example] of me doing this in `setup_module()`. Since you can't pass `config` as an argument, you'll just need to define `config` in the test function before calling `setup_module()`.

[2020-05-12 21:06] BrunoGrandePhD commented on #34
Feel free to load the project and module config used in the demo Snakefile using the `yaml` package. You can use the `snakemake.utils.update_config()` function to follow the same approach as Snakemake when it comes to overwriting the config with newer config files.

[2020-05-12 21:12] whelena commented on #34
hmm okay, I will try that. Thank you!

[2020-05-12 21:33] whelena commented on #34
I'll read up on that package too then

[2020-05-14 21:04] BrunoGrandePhD opened #35 "Implement support for sample-based modules for `op.switch_on_column()`"

[2020-05-14 21:14] BrunoGrandePhD commented on #35
I could replace the `match_on` argument with a more general `wildcard_name` argument, which would allow the user to specify `"sample_id"`, `"tumour_id"`, or `"normal_id"`.

[2020-05-22 14:44] rdmorin commented on #7
Has there been any progress on this one? I have some suggestions that may help. We should chat, @whelena

[2020-05-22 16:49] whelena commented on #7
I have a working module that I have tested using vcf files from varscan. The module is based on the master branch and I am waiting for the most recent updates from Bruno before finallizing it. I will reach out to you on slack to discuss details.

[2020-06-03 20:28] BrunoGrandePhD opened #37 "Reimplement reference_files workflow as module (to be used with include)"
A major limitation of subworkflows in Snakemake is that they don't inherit the parallelization capabilities of the snakemake job that calls them. Reimplementing the workflow as a module that can be included will remove this limitation.

[2020-06-04 23:38] lkhilton opened #39 "Directing Manta to look at STAR bams"
I've pulled the latest master (00d1cca) and installed oncopipe. When I try to launch the demo Snakefile I get this error message:

[code]

I guess since the manta module is set to look for bam files in the data directory, it expects to find an RNAseq bam file there. However we really want it to look at the bam in `data` for capture, and at the bam output by STAR for RNAseq. How can a user set up t

[2020-06-05 01:47] BrunoGrandePhD commented on #39
For some reason, the placeholder files for the RNA-seq BAM file were missing. I added these in 30e24a5c2afc98ed9913a6849f03d3f6d1e444a0.

I added some notes for GSC users so they can benefit from the local files that already exist. This one:

And this one:

So, make sure you replace the empty placeholder files with symlinks using the above command to avoid downloading files that you already have a

[2020-06-06 18:10] rdmorin opened #40 "oncopipe installation from pip appears to be broken"
I get the following error when I attempt to build the reference directory after installing oncopipe from pip (`pip install oncopipe`):

AttributeError in line 125 of /home/rmorin/lcr-modules/workflows/reference_files/1.0/reference_files.smk:
module 'oncopipe' has no attribute 'as_one_line'
  File "/home/rmorin/lcr-modules/workflows/reference_files/1.0/prepare_reference_files.smk", line 28, in <mod

[2020-06-06 22:16] BrunoGrandePhD commented on #40
Thanks for picking up on this! I had misconfigured the `setup.py` script. The PyPI version is working now.
[code]

[2020-06-06 22:16] #40 closed, assigned to nobody

[2020-06-07 00:57] rdmorin commented on #40
Thanks. I confirm this is resolved. The ==1.0.2 also looks to be unnecessary as it defaults to the latest version.

[2020-06-08 18:32] rdmorin opened #42 "Automatic cram-to-bam for compressed bam files"
We will inevitably start encountering cram-compressed genomes during GAMBL and other projects. It would be wonderful if we had a standard rule or module that would handle this scenario. If it was an optional module, then anyone encountering a cram could add it when necessary. I envision the functionality being:
1) decompress to bam in scratch directory
2) regenerate index for bam
3) symlink as usu

[2020-06-09 03:53] BrunoGrandePhD commented on #42
There are a few ways this could be tackled. For GAMBL, I think the simplest solution is to handle this outside of lcr-modules. One idea is to create a directory in `results/` (which is scratch space) where the BAM files are symlinked and the CRAM files are decompressed, _e.g._ `results/data_bams/`. This way, lcr-modules doesn't need to conditionally handle samples stored as CRAMs. All it knows is

[2020-06-09 03:54] #39 closed, assigned to nobody

[2020-06-09 03:56] BrunoGrandePhD commented on #30
I believe this issue is gone now with version 2.0 of the manta module (without the checkpoint). If not, we can reopen this issue.

[2020-06-09 03:56] #30 closed, assigned to nobody

[2020-06-09 03:56] #22 closed, assigned to BrunoGrandePhD

[2020-06-09 03:57] #29 closed, assigned to BrunoGrandePhD

[2020-06-09 13:51] rdmorin commented on #42
This sounds reasonable. Is this something we could put into a template project snakefile similar to the demo but meant as a "starting point" for peoples projects? This would be similar to what you and @lkhilton implemented for gambl.

[2020-06-09 20:53] rdmorin opened #43 "ChildIOException"
After my last successful run of my sequenza pipeline I deleted an intermediate file and tried re-running it. Interestingly, this error is not from the same sample as the file I deleted so I don't know what caused this. Any idea what this might relate to?

Building DAG of jobs...
ChildIOException:
File/directory is a child to another output:
('/home/rmorin/lcr-modules/demo/results/sequenza-1.0/03-p

[2020-06-09 22:29] BrunoGrandePhD commented on #43
Can you confirm that all of your local changes are pushed to GitHub under the `module/sequenza/1.0` branch? This way, I can debug when reviewing your PR, #41.

[2020-06-09 22:31] rdmorin commented on #43
Turns out I had made a few changes that I hadn't pushed. I'm going to look at this for a few more minutes and see if I can find the problem. If not, I'll commit and push and let you know

[2020-06-09 22:33] BrunoGrandePhD commented on #43
My guess is that the `_sequenza_output_seg`is using the `CFG["dirs"]["plots"]` instead of `CFG["dirs"]["outputs"]`. As a result, both rules produce the same output file.

[2020-06-09 22:37] rdmorin commented on #43
[code]

[2020-06-09 22:38] rdmorin commented on #43
There must be a better way to insert code than that...

[2020-06-09 22:52] BrunoGrandePhD commented on #43
You can use triple backticks just like in Slack. I updated your comment.

[2020-06-09 22:53] BrunoGrandePhD commented on #43
I'm confused then why the error messages says that
[code]
is an output of `_sequenza_output_seg`.

[2020-06-09 22:54] rdmorin commented on #43
I am also baffled by it. @lkhilton and I are discussing in Slack currently.

[2020-06-10 01:44] rdmorin opened #44 "MiXCR"
https://mixcr.readthedocs.io/en/master/

[2020-06-10 01:48] rdmorin commented on #44
I was going to assign this to Anita dos Santos but I don't see her. Can we add her to the contributors?

[2020-06-10 03:27] BrunoGrandePhD commented on #44
What's her GitHub username?

[2020-06-10 03:37] rdmorin commented on #44
adossantos1

[2020-06-10 03:48] BrunoGrandePhD commented on #44
Invite sent!

[2020-06-10 04:37] #43 closed, assigned to BrunoGrandePhD

[2020-06-10 05:31] BrunoGrandePhD commented on #32
I've implemented this in the upcoming `bug-fixes` branch. Since the name `filter_samples()` is ambiguous, I added an `invert` argument to determines whether you are positively or negatively selecting samples. As shortcuts, you can also use the more appropriately named `keep_samples()` and `discard_samples()` wrapper functions. Here's how they work:

[code]

[2020-06-10 05:31] #32 closed, assigned to BrunoGrandePhD

[2020-06-10 05:31] #28 closed, assigned to BrunoGrandePhD

[2020-06-10 05:32] BrunoGrandePhD commented on #26
Implemented.

[2020-06-10 05:32] #26 closed, assigned to BrunoGrandePhD

[2020-06-10 05:37] BrunoGrandePhD commented on #42
Yeah, this could be something that is added to the header snakefile I created.

https://github.com/morinlab/gambl/blob/bgrande-unix_group/src/snakemake/header.smk

[2020-06-10 05:37] #42 closed, assigned to BrunoGrandePhD

[2020-06-10 15:18] rdmorin opened #45 "change config in demo to not use relative paths"
I am wondering if it would be better to use the REPODIR and MODSDIR variables explicitly the demo snakefile instead of relative paths. This will give concrete examples to show usesr how to specify paths with this variable and prevents them from needing to change it if they use this snakefile to start their own project outside the demo directory.

[code]

[2020-06-10 17:32] BrunoGrandePhD commented on #45
Sadly, the directory placeholders like `{REPODIR}` and `{MODSDIR}` are replaced with their actual values by `oncopipe` in `setup_module()`. This isn't done by Snakemake. So, the placeholders wouldn't get replaced with their actual values in this case.

There's no way for me to change the way that the `configfile` and `subworkflow` statements work. The only workaround would be to wrap the strings w

[2020-06-10 17:35] rdmorin commented on #45
Ah. I'm glad I asked. I was setting up a project this way and naively thought it would work.

[2020-06-10 21:42] lkhilton opened #46 "Reference subworkflow error: Permission denied"
I tried pointing my Snakefile to the pre-built reference directory at `/projects/bgrande/reference_files`, but I get the following error on a dry run:
[code]

The Snakefile I'm running is at `/home/lhilton/rrDLBCL_trios`, and looks like this:
[code]

[2020-06-10 22:01] BrunoGrandePhD commented on #46
Ugh, the subworkflow mechanic in snakemake is turning out to be really annoying to use in practice. I plan on eventually converting it into a module that will use `include` instead of `subworkflow`.

In the meantime, let's try this as a workaround:

[code]

[2020-06-10 22:13] rdmorin commented on #46
That was the workaround I used when working with this directory.

[2020-06-10 22:59] lkhilton commented on #46
I was about to implement this very thing before the file system crash. I will test it out now that I can get this working on gphost02.

[2020-06-11 05:28] BrunoGrandePhD opened #47 "Unmatched normal ID still being demanded even if no input samples share seq_type"

[2020-06-12 02:23] #45 closed, assigned to nobody

[2020-06-12 02:24] BrunoGrandePhD commented on #46
The workaround is fine for now. The long-term fix will be tracked in #37.

[2020-06-12 02:24] #46 closed, assigned to nobody

[2020-06-15 19:33] rdmorin opened #50 "cookiecutter always adds unmatched normal to default config"
Could the cookiecutter be modified to ask whether the user wants to analyze unpaired tumours with with unmatched normal? I don't think this is asked (or at least not in a way that is intuitive) so I keep ending up with this config.

[code]

[2020-06-15 20:24] BrunoGrandePhD commented on #50
That can definitely be done. In fact, with the new `generate_pairs()` function, I think the same options should be available for the cookiecutter template, namely `matched_only`, `allow_unmatched`, and `no_normal` (in addition to `omit`). I can tackle this on the weekend.

[2020-06-15 23:41] rdmorin opened #51 "input bams are broken symlinks when results directory is a symlink"
I've modified the demo while creating a new module. I created a symlink named "results" that points to another location where I want the pipeline to write to. The symlinks that are created are broken and snakemake exits with an error. Oddly, when I move that directory to results_symlink and replace it with an actual directory, the links work fine.

[code]

[2020-06-16 00:01] BrunoGrandePhD commented on #51
I think I understand what's going on, and why I didn't run into an issue when I did the same thing with my `adult_blgsp` project. I'll look into fixing this tonight.

[2020-06-16 00:22] rdmorin commented on #51
Thanks! I thought I was going crazy because this works for other people. Yet another example of Snakemake trolling one of us.

[2020-06-16 05:21] BrunoGrandePhD commented on #51
Fixed in b824a9ef6c0d70bccf1e89e150d2a930f3798784

[2020-06-16 05:21] #51 closed, assigned to nobody

[2020-06-16 20:33] rdmorin commented on #31
Does @lkhilton or anyone else have a working Snakefile that could be used as a starting point?

[2020-06-16 20:34] #18 closed, assigned to rdmorin

[2020-06-18 18:28] lkhilton opened #52 "Specify unmatched_normal_id based on wildcard"
For gambl we have three different genome builds, and each will need an unmatched normal specified. I've tried implementing this a couple of ways, most recently by including this in `header.smk`:
[code]

I get the following error when I run the above with `snakemake -np -s src/snakemake/header.smk`:
[code]
`oncopipe` version 1.0.2
`snakemake-minimal` version 5.14.0

What can I change to get this to

[2020-06-18 18:36] lkhilton commented on #52
I updated `oncopipe` to 1.0.3 and the error persists.

[2020-06-18 18:37] rdmorin commented on #52
Is it the same error if you change it to:

[code]

[2020-06-18 18:49] BrunoGrandePhD commented on #52
Your instinct with using a switch here was correct. For any directive loaded by `snakemake`, it will detect that the value is a function and will call the function, including if that function is a switch.

The issue here is that the `unmatched_normal_id` field is handled by `oncopipe` rather than `snakemake`, and I totally didn't think of the fact that `unmatched_normal_id` will need to be `genome

[2020-06-18 19:07] lkhilton commented on #52
Yep, totally intuitive. Thanks!

[2020-06-18 20:39] lkhilton commented on #52
To confirm (since I'm close to submitting a PR for gambl) the config would look like this, right:
[code]

[2020-06-18 21:07] BrunoGrandePhD commented on #52
You will want to set `scratch_directory` to `null` (without quotes). Otherwise, the modules will write to a directory called `null/`. Other than that, it looks good! Actually, maybe change `unmatched_normal_id` to `unmatched_normal_ids`. That's the key name I'll use.

[2020-06-18 21:08] BrunoGrandePhD commented on #52
I already check for strings equal to `"None"` in the configuration to avoid this pitfall. I'll update the code to also warn the user for any string values of `"null"` as a safeguard.

[2020-06-22 23:46] rdmorin opened #54 "obtain input files that are stored remotely as local tempfiles"
Within the lcr-modules approach, is there a way to obtain a temporary copy of input files on-the-fly? For example, if bam files are stored on a remote file system that cannot be mounted? This situation can occur when working in AWS.

[2020-06-23 00:02] BrunoGrandePhD commented on #54
As long as the the input file is configurable under `CFG["inputs"]`, it should be possible without changing the module snakefile using the "Remote files" feature in Snakemake. That said, I haven't tested this yet.

https://snakemake.readthedocs.io/en/stable/snakefiles/remote_files.html

This would be an instance of updating configuration values (in this case, of `inputs`) within the snakefile.

ht

[2020-06-23 00:16] rdmorin commented on #54
I have tested that on AWS and sadly it only works if you have pretty extensive permissions on the bucket you are pulling the remote file from. The one I tried gave me a fatal error. My workaround was to write a rule that pulled the files using the aws CLI.

[2020-06-23 00:21] rdmorin commented on #54
To clarify, the problem is that the approach I was using in another Snakefile doesn't seem compatible with lcr-modules (or I haven't figured out how to make it work similarly) because my snakefile always seems to check for all the input files when it runs.

[2020-06-23 01:23] BrunoGrandePhD commented on #54
Whatever you did in the other Snakefile should be possible in lcr-modules. If you have a rule `pull_file` that downloads the remote file when needed, when you can point the `inputs` of a module to the output of that rule, thus triggering the download when the module needs that file.

[2020-06-23 01:32] rdmorin commented on #54
My approach before included limiting to an artificial "bam" resource value of 2. How do you suggest I modify the first rule to ensure only the bam from the tumour and matched normal are obtained in sync? Will it naturally follow the order in the metadata?
[code]

[2020-06-23 02:36] BrunoGrandePhD commented on #54
I didn't appreciate that there was also a limitation on the number of remote BAM files that could be stored locally. This is rather an unusual setup, but it should still be possible to accommodate it in lcr-modules. One reason that I always had in the back of my mind for the simple input rules is that they make it easy to override how files are brought into the module.

For example, let's say you

[2020-06-23 04:28] #52 closed, assigned to nobody

[2020-06-23 04:30] #50 closed, assigned to BrunoGrandePhD

[2020-06-23 14:57] rdmorin commented on #54
Thanks for the tip. Out of interest, why would we make the target the same place the symlinks point rather than make it the file that is the input expected by _battenberg_input_bam ? I would think this would overcome the ambiguous rule/target issue.
Is this to avoid broken symlinks later?

[2020-06-23 14:59] rdmorin commented on #54
Presumably the first bit should look like this, right?
[code]

[2020-06-23 15:08] rdmorin commented on #54
Using this approach I get the following error

WorkflowError:
Target rules may not contain wildcards. Please specify concrete files or a rule without wildcards.

[code]

[2020-06-23 15:28] BrunoGrandePhD commented on #54
Indeed, the `fetch_bam` rule should be using `temp()`.

As for your first question, if the `fetch_bam` rule (using `temp()`) is upstream of the `_battenberg_input_bam` rule, I think the BAMs would get auto-deleted by snakemake after the `_battenberg_input_bam` symlinking is done, because as far as snakemake is concerned, the output of `fetch_bam` is no longer needed. I thought of using hard links

[2020-06-23 15:39] rdmorin commented on #54
Do you think we should avoid having a bam resource in modules?

[2020-06-23 16:06] BrunoGrandePhD commented on #54
It's something that I've considered before. For the time being, I've refrained from using a `bam` resource for two reasons. First, BAM files can vary wildly in size within a project, so it's a really rough way of limiting disk usage. Second, there are other ways of limiting disk usage. (Notably, by using scratch directories and/or by running jobs in [batches](https://snakemake.readthedocs.io/en/st

[2020-06-24 13:32] rdmorin commented on #54
My workaround was a bit more involved. To avoid the "missing" input files, I started by (outside Snakemake) touching an empty file for each of the inputs in the original data directory. The fetch_bam rule uses these as input merely to get the wildcard. I had to make this rule process both the tumour and matched normal together to ensure the subsequent steps get both bams. Otherwise, each bam came

[2020-06-24 14:43] BrunoGrandePhD commented on #54
Snakemake should be able to create those output files _de novo_ (_i.e._ without input files). Can you try this rule without the input files? Snakemake uses the output files for inferring the wildcards, not the input files. This would obviate the need of creating those empty files. If you run into a missing input files error, you can send me your entire Snakefile privately so I can take a look.

[c

[2020-06-24 15:11] rdmorin commented on #54
Hah. You're right. It works without the inputs. I had erroneously added these when I had another error complaining about missing inputs but moving this rule into the module fixed that issue. I have just realized that the original error was because I had put this fetch_bam rule before "all". Putting it after that rule in Snakefile seems to work.

[2020-06-24 16:03] BrunoGrandePhD commented on #54
Excellent!

[2020-06-24 16:03] #54 closed, assigned to nobody

[2020-06-25 00:31] rdmorin opened #55 "null scratch_directory causes fatal error"
It looks like the setup_subdirs function is expecting a non-null value for scratch_directory. I was loading two configs, one that had scratch_directory set to "scratch/" and one that had it set to "null". The latter was loaded by header.smk. This clobbered the former. This results in a TypeError (see below).

[code]

[2020-06-25 05:17] BrunoGrandePhD commented on #55
I thought I had fixed this bug, but apparently not. I found my mistake, and I pushed a new version of oncopipe (v1.0.5) with a fix. Thanks for the bug report!

[2020-06-25 05:17] #55 closed, assigned to BrunoGrandePhD

[2020-06-28 21:31] Kdreval opened #58 "sambamba error"
I was testing the lcr-modules using a demo snakefile and demo samples. The workflow failed during running the sambamba markdup step. I looked on the log and found that this step failed because it was not able to open the new file:
`sambamba-markdup: Cannot open file "/tmp/sambamba-pid2186658-markdup-lhow/PairedEndsInfoqbqa9" in mode "w+" (Too many open files)`
For solution, I found that this is a

[2020-06-29 23:48] BrunoGrandePhD commented on #58
Can you try increasing your ulimit? Specifically, `ulimit -n` should ideally be a higher number.

https://lcr-modules.readthedocs.io/en/latest/for_users.html#gsc-ulimit-setup

[2020-06-29 23:56] Kdreval commented on #58
Sure! I'll try it today and will update here on how it worked out.
I was testing it by running on Thanos. The current `ulimit -n `says 1024. I will do` ulimit -n 100000`

[2020-06-29 23:59] rdmorin commented on #58
@BrunoGrandePhD don't you find it concerning that it needs more than 1000 files open at once? My inclination is this points towards it not using memory optimally here and spawns more tempfiles than it theoretically needs but perhaps theres some other reason?

[2020-06-29 23:59] BrunoGrandePhD commented on #58
You have to test different ulimits until it works. Sometimes, the admin has set a hard limit that users can go above. For example, I found out that 50000 is the limit on n104 (numbers cluster head node):
[code]

[2020-06-30 00:01] BrunoGrandePhD commented on #58
Snakemake spawns many files on its own. It's not clear here whether most files are spawned by Snakemake or Sambamba. Nevertheless, I've asked @whelena to add `--overflow-list-size 600000` as a default option for sambamba in the upcoming update to the `utils` module. See #57.

[2020-06-30 00:06] rdmorin commented on #58
Sounds good. Thanks

[2020-06-30 00:06] #58 closed, assigned to nobody

[2020-06-30 16:18] rdmorin opened #59 "BEDPE files from Manta have a massive header"
It looks like the vcf to bedpe conversion is leaving the VCF header or adding a new (similar) header to the bedpe files. The header looks to be 236 lines with the last line referring to the columns and the rest somewhat extraneous. Is the inclusion of this on purpose? If so, do we really want this?

[code]

[2020-06-30 16:23] lkhilton commented on #59
I'm sure we don't _need_ the whole thing, but it contains useful info about the INFO field that's carried over from the VCF. If you're importing into R you can use the `comment.char = "##"` option in `read.delim` or `comment = "##"` in `read_tsv` to skip the headers.

[2020-06-30 16:24] BrunoGrandePhD commented on #59
The svtools vcftobedpe utility stores the VCF header in the output BEDPE. I'm guessing this is because the BEDPE file contains the INFO and FORMAT VCF fields, and these header lines provide context. I erred on the side of inclusion since they can easily be removed with `grep -v '^##' ...`. If this header poses a more serious problem, we can consider removing it.

[2020-06-30 16:24] BrunoGrandePhD commented on #59
@lkhilton: Good tips for handling these in R!

[2020-06-30 16:44] rdmorin commented on #59
If they're redundant with the VCF I just wonder why we would want to keep them in the BED.

[2020-07-07 15:27] whelena commented on #35
@BrunoGrandePhD I implemented it into some of my modules and pushed the edit to master. Would the new edits be installed using `pip install oncopipe` or do users have to use `pip install -e lcr-modules/oncopipe`?

[2020-07-08 03:43] BrunoGrandePhD commented on #35
I created a new release on GitHub (v1.0.7), which automatically deploys to PyPI.

https://github.com/LCR-BCCRC/lcr-modules/releases
https://pypi.org/project/oncopipe/

[2020-07-08 03:43] #35 closed, assigned to nobody

[2020-07-08 03:46] BrunoGrandePhD commented on #59
I suspect the BEDPE files will be used down the line without the VCF files. Since the headers don't do any harm, I'm going to leave this as is, but if someone else raises this as a concern, we can look into getting rid of the headers.

[2020-07-08 03:46] #59 closed, assigned to nobody

[2020-07-15 22:12] rdmorin commented on #31
Does anyone have a working Snakefile that could be used as the basis for this?

[2020-07-15 22:36] Jwong684 commented on #31
I have a snakemake with controlFREEC and ichorCNA for the lowpassWGS data:

/projects/dscott_prj/CCSRI_1500/lowpassWGS/snakefile

[2020-07-15 22:43] rdmorin commented on #31
Can you open up permissions on that file?

[2020-07-15 22:47] Jwong684 commented on #31
Okay it should be readable for everyone (chmod 774)

[2020-07-15 22:55] rdmorin commented on #31
Thanks. Did you change any parameters for low-pass WGS or is this the same settings used for deep/normal WGS?

[2020-07-15 22:59] Jwong684 commented on #31
The only parameter I changed is the predicted ploidy to (2,3) to match the default in ichorCNA.

The default:
/projects/dscott_prj/CCSRI_1500/lowpassWGS/config/freec/config_WGS_ploidy2to8.txt

The one I used to compare to ichorCNA:
/projects/dscott_prj/CCSRI_1500/lowpassWGS/config/freec/config_WGS.txt

[2020-07-15 23:01] rdmorin commented on #31
Are you sure you didn't also increase the window size from 50kb to 1 Mb?

[2020-07-15 23:02] rdmorin commented on #31
There are some other differences here too:
[code]

[2020-07-15 23:04] Jwong684 commented on #31
Oh shoot! Yes. The 1Mb change was also to match ichorCNA. Control-FREEC uses 50kb windows. And also the breakpointThreshold (good thing I commented my changes).

[2020-07-15 23:07] Jwong684 commented on #31
For reference:

This is the config_WGS.txt they used:

WGS:
https://github.com/BoevaLab/FREEC/blob/master/data/config_WGS.txt

Exome:
https://github.com/BoevaLab/FREEC/blob/master/data/config_exome.txt

[2020-07-15 23:15] rdmorin commented on #31
Yes, also, when in doubt, diff is helpful for finding such things. Thanks for the reference configs.

[2020-07-15 23:21] rdmorin commented on #31
Too bad they want each chromosome in it's own fasta file (WHY???).
Did @lkhilton download these files from somewhere?
/projects/rmorin/projects/DLBCL_DHITsig_genomes/reference/FREEC/hg19

[2020-07-15 23:27] lkhilton commented on #31
I would have obtained most of them from here:
http://boevalab.inf.ethz.ch/FREEC/tutorial.html#install

[2020-07-15 23:29] rdmorin commented on #31
No hg38? Argh

[2020-07-16 01:02] rdmorin commented on #31
Wait, they have a single file for hg38 but most of them are only for the older builds. What a tease!
[code]

[2020-07-20 15:30] rdmorin opened #66 "Manta 99-outputs contains only "dispatched" files"
The current (v 2.2) Manta workflow does not symlink any of the actual results from Manta to 99-outputs. Shouldn't at least the bed files be symlinked there or am I misunderstanding the purpose of this directory?

[code]

[2020-07-25 18:55] rdmorin opened #67 "Strelka2 doesn't work properly with Manta vcfs"
I tried running Strelka2 1.0 with an output from the latest Manta module (2.2) and it failed when trying to compress the files that were already compressed during the Manta workflow. I don't know if the compression and indexing is a more recent addition to Manta but if so, the Strelka2 module needs to be updated to fix this. If someone can confirm I'm happy to make the patch. It's currently workin

[2020-07-25 18:56] rdmorin commented on #67
@whelena you are probably the most familiar with this

[2020-07-26 03:37] whelena commented on #67
I can take a look, I think the last time I tested was with manta 2.1.

[2020-07-27 16:48] whelena commented on #67
I think I know what the issue is, are you using the `candidateSmallIndels` from `99-outputs` or `02-manta`?

I was able to run it successfully using:
[code]

[2020-07-27 17:33] whelena commented on #66
Did it run into any errors while running? The bed and vcf files should be symlinked into `99-outputs/bed/` and `99-outputs/vcf/` respectively

[2020-07-27 18:11] rdmorin commented on #67
02-manta

Let me get this straight... is the Manta pipeline decompressing the candidateSmallIndels only for Strelka to then re-compress it before it runs?

[2020-07-27 18:17] whelena commented on #67
yes, I didn't make any changes to manta but now that you said that maybe it would be best that manta outputs all of its vcf files in its compressed form as well

[2020-07-27 18:24] rdmorin commented on #67
I can see why users might want them in a decompressed state for other downstream applications. Let's just leave it as is for now.

[2020-07-27 20:36] rdmorin opened #69 "STAR index building fails"
I get this error when running the demo workflow. It looks like the STAR command might be garbled (after the 2> part)

[code]

[2020-07-27 20:41] rdmorin commented on #69
The output file prefix is not being passed in a way that is ever likely to work. I'm surprised this didn't come up as an issue sooner.
[code]

[2020-07-27 21:14] lkhilton commented on #69
I ran this on Friday last week, the STAR indices all generated as expected.
[code]

[2020-07-27 21:18] lkhilton commented on #69
To be clear, I created those STAR indices by running the following:
[code]

[2020-07-27 22:29] rdmorin commented on #69
The issues likely relate to the rules being run locally on the head node. Will try to adjust the relevant rules to run properly on a cluster.

[2020-07-27 22:46] rdmorin opened #70 "Provide other common resources for more restrictive schedulers"
Some schedulers impose a default time constraint on jobs that can be quite short. For example, my jobs on Cedar (Westgrid) seem to be given a limit of 60 minutes. We should either provide a wrapper that requests a much longer/realistic time for jobs or incorporate this into the rules for all non-local jobs. We may have to address this for other limits also.

[2020-07-28 00:03] rdmorin opened #72 "Sequenza auto-installation of R dependencies is not working"
This is with the current version of Sequenza pipeline. It fails at the _sequenza_run step.

[code]

[2020-07-28 00:04] rdmorin commented on #72
This was on Westgrid. Has this installation worked on other systems?

[2020-07-31 20:58] Kdreval commented on #72
I just saw an error related to the same package in sequenza run. I was running it on GSC numbers.
[code]

[2020-08-10 21:43] rdmorin opened #74 "Strelka does not complete failed missing vcf files"
The approach for inferring the Strelka output file names doesn't seem to allow me to rescue failed runs that have an empty output directory. I get the following error when I try to generate the outputs for one of these:

[code]

Is there a way around this or will this module have to be updated to handle this situation more elegantly?

[2020-08-10 22:19] rdmorin commented on #74
FYI @whelena and @BrunoGrandePhD I'm going to attempt a fix for this that separates paired and unpaired analyses a bit more. The problem really comes down to the pipeline not knowing what files should be in that directory due to the variable naming of output files in the two modes.

[2020-08-18 19:18] #16 closed, assigned to whelena

[2020-08-18 19:18] rdmorin opened #77 "Sclust module for copy number analysis"

[2020-08-18 19:19] rdmorin commented on #72
I think this is resolved in Kostia's latest PR

[2020-08-18 19:19] #72 closed, assigned to nobody

[2020-08-19 14:47] Kdreval opened #79 "Bug in STAR module"
In the rule _star_run, even if the alignment is completed successfully, the module exits with non-zero exit code, which is related to the removal of temporary folder. For example, during the demo run, it cannot run rmdir results/star-1.0/01-star/mrna--grch37/TCRBOA7-T-RNA//_STARtmp. This produces error ```rmdir: failed to remove 'results/star-1.0/01-star/mrna--grch37/TCRBOA7-T-RNA//_STARtmp': No s

[2020-08-22 15:23] #66 closed, assigned to nobody

[2020-08-22 15:25] #69 closed, assigned to nobody

[2020-08-22 15:26] rdmorin commented on #7
Closing as there is a pending PR for this

[2020-08-22 15:26] #7 closed, assigned to whelena

[2020-08-22 15:47] #10 closed, assigned to whelena

[2020-08-22 15:50] #79 closed, assigned to Kdreval

[2020-08-22 15:54] rdmorin opened #82 "Implement testing process for demo project"
After a module is added to the demo the entire pipeline should be run on the test data automatically and
1) ensure error-free completion
2) expected outputs are generated
3) DAG is output showing all the steps for the entire workflow on the demo data

[2020-08-22 15:55] #67 closed, assigned to nobody

[2020-08-22 15:55] #1 closed, assigned to rdmorin

[2020-08-22 15:56] rdmorin commented on #13
@whelena can you close this once I've approved and merged your PR?

[2020-08-22 16:32] whelena commented on #13
@rdmorin yes

[2020-08-23 02:11] #13 closed, assigned to whelena

[2020-08-25 18:29] BrunoGrandePhD commented on #70
Currently, resources (mainly `mem_mb` for now) are listed individually in the module snakefile ([example](https://github.com/LCR-BCCRC/lcr-modules/blob/master/modules/manta/2.3/manta.smk#L139-L141)). Because of this, custom resources need to be added to the snakefiles.

In order words, there is no way of adding custom resources on a per-rule basis by simply editing the YAML configuration file. Tha

[2020-08-28 21:40] #14 closed, assigned to ppararaj, whelena

[2020-08-30 08:33] lkhilton opened #87 "Urgent! Snakemake/oncopipe compatibility"
I desperately need the latest Snakemake version 5.23 because it solves a scheduler bug that prevents me from limiting the number of enormous temp files my pipeline creates (see [here](https://github.com/snakemake/snakemake/issues/251) for a description). However it seems I can't have both oncopipe 1.0.10 and Snakemake 5.23 in the same env - if I install oncopipe after Snakemake 5.23 it downgrades

[2020-08-30 20:40] Kdreval opened #88 "_filter_seqz rule of sequenza module exits with error on some systems"
During the run of demo projects in lcr-modules on Numbers, snakemake exited with error during sequenza run. In the stderr log file:
[code]

It happened during the rule _sequenza_filter_seqz which uses bash script ../modules/sequenza/1.4/src/bash/filter_seqz.sh.
I found that it is related to the fact this job was scheduled for the run on cluster running CentOS 6.7, and once switched to Centos 7.6 c

[2020-08-31 15:47] rdmorin opened #89 "Cellranger module"
scRNA-seq analysis tool

[2020-08-31 15:48] rdmorin opened #90 "LoFreq variant caller"

[2020-08-31 16:06] rdmorin opened #91 "Demo workflow does not consistently run to completion"
Due to ongoing development the demo keeps getting broken. If nothing else works in lcr-modules at least the demo needs to work consistently.

[2020-08-31 16:08] rdmorin opened #92 "Add bam and disk_mb resources to all rules in every workflow to allow user-specified throttling"
Any workflows with very large on-disk footprints may also need to be configured with grouped rules to ensure consecutive running of subsequent jobs rather than additional jobs being launched before the latter steps complete.

[2020-08-31 16:52] whelena commented on #91
Are there any specific issues that consistently comes up (specific modules or rules)?

[2020-08-31 17:25] BrunoGrandePhD commented on #87
Thanks for the heads-up! Snakemake 5.19 caused issues (see #43), so I constrained the Snakemake version. I can allow higher versions of Snakemake if we can confirm that there are no `ChildIOException` errors that come up.

[2020-08-31 17:33] lkhilton commented on #87
I thought I remembered a conversation about constraining Snakemake versions but I couldn't find it.

As of right now any Snakemake > 5.20 hangs indefinitely at `Building DAG of jobs`. Not looking good. I don't know if this is a bug, oncopipe compatibility, something about the way the LCR modules are set up...?

[2020-08-31 17:40] whelena commented on #91
It seems like it's missing some inputs (e.g. `99-20595T.bam`) since the sample_id is in the `samples.tsv` but it seems like you are using it to test specific modules only. I'm familiar with the original demo bam files, but I'm wondering which modules uses the igv.seg files.

would it be possible to get samples that can be used with all the modules to limit the number of samples in the samples.tsv?

[2020-08-31 17:41] rdmorin commented on #91
Kostia's currently working on this. I think he has an updated version in a branch too.

[2020-08-31 17:53] whelena commented on #91
Okay! I'll be available if he needs any help

[2020-08-31 18:16] Kdreval commented on #91
I just pushed the version of demo workflow that I was able to complete in dry run and on cluster to the branch demo_repairs

[2020-08-31 18:25] BrunoGrandePhD commented on #87
@rdmorin described a similar issue a few weeks ago that ended up being related to the file system. Can you confirm that switching back to version 5.18 rescues the phenotype (for lack for a better term)?

[2020-08-31 18:45] lkhilton commented on #87
Can confirm. Here's what I did:

1. Created a new `snakemake-test` conda environment with `snakemake-minimal=5.19.0`. Installed `oncopipe-1.0.10` with `pip install --no-dependencies -e /path/to/lcr-modules/oncopipe`. Manually installed Pandas with `pip install pandas`.
2. Performed a dry run on four tumour samples input to my GRIDSS pipeline. This threw the `ChildIO` exception as expected for Snak

[2020-08-31 19:01] lkhilton commented on #87
I was suspicious that this had something to do with changing Snakemake versions and trying to run it on a directory that had partial outputs from a prior run. Indeed if I upgrade to `snakemake-minimal=5.23` and direct the output to a fresh results directory, I can get it past the `Building DAG of jobs...` stage, but the `ChildIOException` error persists:
[code]

Is the reference workflow actually

[2020-08-31 20:20] BrunoGrandePhD commented on #87
The `ChildIOException` errors might be legitimate and the result of stricter DAG validation. What would be useful is a minimal reproducible example for triggering a `ChildIOException`. Does one come up if you run the demo project on the latest `master` with perhaps only one of the more established modules enabled (_e.g._ `manta` or `star`)?

[2020-08-31 20:26] Kdreval commented on #87
I was running the demo project about a week ago testing the star module. Also, run the demo project this weekend on the branch `demo_repairs`. I did not come up with `ChildIOException` error. I am using the snakemake version provided by oncopipe and I believe it is `5.18.1`.

[2020-08-31 20:52] lkhilton commented on #87
I'm almost sure it's a problem related to the way I'm downloading the Encode Blacklist in the reference files workflow. To test that assumption I'm removing the steps related to those reference files and will test it again and report back. At some point in the future I'll probably ask you to take a look at the broken rules to see if you can help me fix them.

[2020-08-31 22:21] BrunoGrandePhD commented on #87
I'll gladly help you resolve the problematic rules if there are any! Thanks for doing the legwork of further isolating the issue. Much appreciated!

[2020-08-31 23:25] lkhilton commented on #87
I deleted all the additional rules in the reference workflow and reverted to version 2.3 of the workflow, so I've eliminated any problems related to the subworkflow. I'm narrowing down the reason behind Snakemake hanging at the `Building DAG of jobs...` step, even on a dry run.

Running Snakemake 5.23 and oncopipe 1.0.10.

When I set the output directory to `results/` or `results/{unix_group}/`, S

[2020-08-31 23:29] lkhilton commented on #87
Can also confirm that this behaviour is resolved in Snakemake 5.14.

[2020-08-31 23:56] BrunoGrandePhD commented on #87
What if the symlink in your repo points to an empty directory in `nhl_meta_analysis_scratch`? I just want to determine if it's related to the symlink or whether the output directory is prepopulated.

[2020-09-01 00:26] lkhilton commented on #87
Good suggestion, I tried that. It created the sub-directories within, e.g. `gambl/tool-name-version/00-inputs`, but still hangs indefinitely after that.

[2020-09-01 00:39] lkhilton commented on #87
I'm suspicious this is related to the ChildIO exception and how Snakemake has been [checking output files](https://github.com/snakemake/snakemake/issues/413) since 5.19.

[2020-09-01 02:53] BrunoGrandePhD commented on #87
Can you confirm that the issue is absent with Snakemake 5.18.1 and present with Snakemake 5.19.0? The number of [changes](https://github.com/snakemake/snakemake/compare/v5.18.1...v5.19.0) in Python files between these two version is finite, so we could try to specifically identify the change that introduced the regression.

[2020-09-01 19:36] rdmorin opened #93 "Sequenza still has an installation error"
I just got this error using the version of sequenza run in the demo (Master branch). This needs to be fixed ASAP.

[code]

[2020-09-01 20:08] Kdreval commented on #93
Looks like the same error as in #72 I am trying to find a solution by testing addition of environmental variable `Sys.setenv(R_REMOTES_NO_ERRORS_FROM_WARNINGS="TRUE")` before installing the package, but could not reproduce this error on GSC, Thanos, or my local computer

[2020-09-01 20:18] lkhilton commented on #93
Ryan, can you shed any light on why it looks like this package is trying to install in a conda env in your home directory instead of `/projects/rmorin_scratch/conda_environments`?

[2020-09-01 20:26] Kdreval commented on #93
Also, in the current version of demo project on Master, the sequenza version in demo Snakefile is 1.2. I introduced my "fix" to it in the version 1.4. Is it possible to try the newer version of sequenza to see if that will work?

[2020-09-01 20:32] rdmorin commented on #93
I'm testing this on Cedar and haven't set a conda_prefix.

[2020-09-01 20:32] rdmorin commented on #93
This was using sequenza 1.4.

[code]

[2020-09-01 20:37] rdmorin commented on #93
It's very hard to troubleshoot this because if I load that environment and run "R" I just get a Segmentation fault.

[2020-09-01 20:44] rdmorin commented on #93
[code]

[2020-09-01 20:47] Kdreval commented on #93
While testing on Thanos, I got a different type of error. Is it possible same thing related to tar archive is happening on Cider, but gives different error? Maybe it is R-version related, or `remotes` version?
[code]

[2020-09-01 20:48] rdmorin commented on #93
@Kdreval I should have clarified that I'm running the demo on the branch you were working on, so I am in sync with your patch

[2020-09-01 21:37] rdmorin commented on #93
I managed to get this environment to build and get past this error when I ran this on cedar "manually" (conda env create -f ...)

[2020-09-03 19:11] rdmorin commented on #93
I still haven't gotten past this. The most recent error is:

[code]

[2020-09-03 19:14] rdmorin opened #94 "STAR runs out of memory during samtools sort step"
When testing the demo on Cedar, the STAR step fails when running samtools sort because it runs out of memory. This is after already increasing the default value to 24000. I suspect this has not been run on Numbers either because presumably the same problem would happen on any Slurm cluster with this data set. Any suggestions for how to determine what a reasonable default should be?

[code]

[2020-09-03 19:25] rdmorin commented on #94
Even setting this value to 48G doesn't solve the problem. There must be something else going on here.

[2020-09-03 19:26] Kdreval commented on #94
I did run the test with our demo sample on Numbers before pushing the 1.3 version. Also, I used Numbers for the latest test on August 30 with demo_repairs branch. I did not have memory errors (or other errors with STAR) during these runs

[2020-09-03 19:27] lkhilton commented on #94
I ran into this issue with Ferran's RNAseq data on Numbers, but only for one of four samples, and increasing the memory to 40 GB was sufficient.

[2020-09-03 19:32] lkhilton commented on #94
I would wager this has to do with how the memory is allocated per thread in the utils module. It's set to divide the allocated memory equally across the number of threads, which means there's no buffer if Samtools briefly exceeds the allocated memory for any reason. I ran into this issue with GRIDSS and had to set my JVM heap size to 80% of the allocated memory for all tools. We should change this

[2020-09-03 19:33] Kdreval commented on #93
That is probably unrelated, but I mentioned that it is always installing from `@master` when it fails on this server. In contrast, when I was trying on my local computer and on GSC Rstudio, it is installing from `@HEAD`. I wonder if there is some difference there. Although I am not sure if that is an option to specify.

[2020-09-03 19:48] rdmorin commented on #94
I suspected the same. My change was a more aggressive reduction from the value specified and it worked but I'll try this instead.

[2020-09-03 19:51] rdmorin commented on #93
I am strongly leaning towards just going back to a single "install" rule that runs the installation and ensures success before launching the jobs. The implementation of auto-installation while the script is first run seems to have a series of rippling negative effects.

[2020-09-03 19:54] Kdreval commented on #93
Sure, let's do that. I am glad there is an opportunity to test all this changes in the new setting, which helps to determine how useful these changes are.

[2020-09-03 19:56] lkhilton commented on #94
If you want to know how much memory it actually uses and whether your buffer will be enough, after the jobs complete you can use this command:

[code]

MaxRSS is the key value to know how much total memory the job used.

[2020-09-03 20:18] rdmorin commented on #94
Thanks. It is fairly quick to die if it is going to die so I'll probably just re-run it after the markdups step completes. Did you ever run this module on Numbers? If so, I don't understand why this didn't come up sooner.

[2020-09-03 20:24] lkhilton commented on #94
Yeah, I ran it on Numbers for the fusion bake-off with Ferran's data. Only one of the four samples errored out, and increasing the memory in the config fixed the problem, so I wasn't motivated at the time to dive deeper into this

[2020-09-03 20:57] rdmorin commented on #94
Markdups has also been killed. Can someone explain what exactly this does?

resources:
        mem_mb = CFG["mem_mb"].get("utils_bam_markdups", 8000)

[2020-09-03 20:59] lkhilton commented on #94
It sets a default value if mem_mb isn't set in the config

[2020-09-03 21:08] BrunoGrandePhD commented on #93
I wish I had been able to create the copynumber-hg38 conda package. Sadly, I couldn't get pass some errors during the build process. I agree that pre-installing might pre-empt issues here. Alternatively, a Singularity image would also work, but I don't know if Cedar supports Singularity.
https://github.com/BrunoGrandePhD/conda-packages

[2020-09-03 21:09] rdmorin opened #95 "PR template - I have some suggestions"
Is there some way I can edit the pull request template to be a bit more helpful and to provide guidance for version increases vs bug fixes?

[2020-09-03 21:29] rdmorin commented on #93
Would it be any better to include copynumber-hg38 directly in our repo? I suppose if we are still using the same installation approach that won't make any difference. Are there alternative installation approaches (i.e. via a local file) if we can ensure the package is bundled with the repo?

[2020-09-03 21:35] lkhilton commented on #87
Can confirm it works seamlessly in 5.18.1.

In 5.19.0 and 5.19.1 the DAG doesn't hang indefinitely, but I get this error:
[code]

This demonstrates how the bug in 5.19 manifests - the same file is symlinked to `00-inputs` within two different modules, which Snakemake 5.19 is interpreting as the same output file.

From 5.20 and up, Snakemake hangs indefinitely at `Building DAG of jobs...`.

[2020-09-03 21:52] BrunoGrandePhD commented on #93
I don't think it's necessary to include the package in our repo. The command for installing a local package isn't simpler.

I just realized that you could install the package within the same rule before running the script. For example, you could use the following as the command in the [`shell` directive](https://github.com/LCR-BCCRC/lcr-modules/blob/master/modules/sequenza/1.4/sequenza.smk#L183-L1

[2020-09-03 21:56] BrunoGrandePhD commented on #93
Feel free to update the `remotes::install_github()` function call to point to a specific commit/version. For example, using the latest commit ID:.
[code]
This way, the version used in our module is stable. This could also be a module parameter.

[2020-09-03 22:01] Kdreval commented on #93
Is this approach going to install the package whenever the every sample is submitted to run? I am asking because when I was running the GAMBL samples, we realized that `remotes` is trying to check for the package update and install package every time we submit a sample to run, even if the package is already installed. Using it within snakemake to run hundreds of samples eventually caused `remotes`

[2020-09-03 22:04] rdmorin commented on #93
This would be coupled with a rule that is run only once per project (rather than per sample).

[2020-09-03 22:06] BrunoGrandePhD commented on #87
Thanks for confirming that. The following commit on the snakemake repo occurred between versions 5.18.1 and 5.19.0, and it involves raising `ChildIOException` errors. I suspect this has to do with the new `ChildIOException` errors we started seeing. I'm going to try to understand what's going on in that commit tonight.

https://github.com/snakemake/snakemake/commit/0c289a650803f08f35e68392fb066e89

[2020-09-03 22:10] lkhilton commented on #87
I found it tricky to trace the origin of the bug, but FYI folks are reporting that the code in this [PR](https://github.com/snakemake/snakemake/pull/447) is fixing the ChildIOException.

[2020-09-03 22:16] rdmorin commented on #93
@BrunoGrandePhD the solution you are suggesting still may lead to the same issue of many instances of the job trying to execute that installation command at essentially the same time, which is problematic.

[2020-09-03 22:23] BrunoGrandePhD commented on #93
Sorry, I forgot this rule was run once per sample.

[2020-09-03 22:30] rdmorin commented on #94
[code]
@lkhilton any idea why this worked for you but something similar didn't work for me? If I change this to 24000 / 12 / 2 it works

[2020-09-03 22:46] BrunoGrandePhD commented on #87
Would it be useful if I generated a version of Snakemake that applies that PR on the latest stable version?

[2020-09-03 22:49] lkhilton commented on #87
Ooh, yes that would be extremely useful

[2020-09-03 22:56] rdmorin commented on #87
This request isn't as urgent as it once was though, right Laura? Because the grouping of rules solved your immediate issue.

[2020-09-03 23:44] lkhilton commented on #87
I tried out the patch, it did not fix the indefinite hanging problem.

[2020-09-04 00:20] lkhilton commented on #87
I made a minimal example that can reproduce the ChildIO exception error, but I can't reproduce the indefinite hanging at the DAG building stage behaviour. This leads me back to the possibility that somehow Snakemake is getting stuck after `op.setup_module` runs, but I can't fathom why it's failing in the context of `lcr-modules` only when the results directory is a symlink. I will explore this bug

[2020-09-04 22:25] rdmorin commented on #93
I think we have bigger problems. It looks like the failure on Cedar is due to a missing dependency. I've tried installing the bioconductor-genomeinfodbdata package and conda says it is already installed.

[2020-09-04 23:43] rdmorin commented on #93
I realized that changing the install_github line from

dependencies = FALSE

to

dependencies = TRUE

fixes this issue. Does anyone see a reason not to implement this fix?

[2020-09-04 23:56] Kdreval commented on #93
We are expecting the installation to happen once, and only once - so to my mind this fix can be used.

[2020-09-05 16:13] BrunoGrandePhD commented on #93
All dependencies of `copynumber` should be installed with the `BiocManager::install("copynumber")` line. My guess is that `bioconductor-genomeinfodbdata` was added as a dependency (perhaps in the forked version specifically) at a later point. This highlights the need to perhaps specify the commit ID in the `install_github()` call.

[2020-09-05 16:20] rdmorin commented on #93
If the patch I just submitted fixes things I'm hesitant to change anything again but I agree the commit should be added when this tool is next updated.

[2020-09-05 16:22] rdmorin commented on #94
I resolved this but I'm not totally happy with having to divide the memory request in half before passing it to samtools. I'm also curious why the above didn't work.

[2020-09-05 16:22] #94 closed, assigned to nobody

[2020-09-05 16:24] BrunoGrandePhD commented on #93
I wonder if a label system should be added to track these non-urgent feature requests for specific modules. This way, whenever someone updates a module, they can look for any issues tagged with `module/sequenza`, for example. Good or bad idea?

[2020-09-05 18:11] rdmorin commented on #93
I completely agree. I was thinking along these lines also but don't know what the right way to implement this is. I know we can add the "enhancement" tag but is there a way to link issues to specific modules?

[2020-09-05 18:23] BrunoGrandePhD commented on #93
For now, I would start with the exiting label system in GitHub (like I just did). Labels are easy to create on the fly, and they're easy to search for in the GitHub Issues interface.

[2020-09-05 19:04] rdmorin commented on #70
I have added a shell script "snakemake.slurm.sh" that allows users to launch snakemake on a Slurm cluster and currently sets the default job walltime to 8 hours. Lots of room for improvement still.

[2020-09-05 19:05] rdmorin commented on #31
Version 1.1 has been merged.

[2020-09-05 19:05] #31 closed, assigned to Jwong684

[2020-09-05 19:05] rdmorin commented on #44
Module from @adossantos1 merged to master

[2020-09-05 19:05] #44 closed, assigned to adossantos1

[2020-09-05 19:06] rdmorin commented on #12
@Kdreval has completed version 1 of the Salmon module. Kallisto is less pressing but should still be done.

[2020-09-05 19:10] Kdreval commented on #12
There is a draft of kallisto module. Unlike, salmon, it requires the strandness information to be supplied with sample table. I will find a way to supply this information without modifying the project-wide sample tables, like `gambl_samples_available.tsv` for example.

[2020-09-05 20:56] BrunoGrandePhD commented on #87
I have merged the PR's edits into version 5.23.0 of Snakemake. The merge was successful without any conflicts. You can install my "fixed" version of v5.23.0 by running the following `pip` command in your conda environment.

[code]

Let me know if this fixed version leads to any change in behaviour with respect to DAG building stage.

[2020-09-10 00:23] rdmorin opened #101 "Shimmer variant caller"
This caller performed well for FFPE variant calling using a voting strategy
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3673219/

[2020-09-10 16:19] lkhilton opened #102 "Consolidate bwa and .fai indexes in reference workflow"
I have a tool that depends on having both bwa and .fai indexes for the reference genome in the same directory, so the first rule I had to write was one that symlinked the files together. In future versions of the reference file workflow I think it would be good to place the different index types together in one directory per genome build.

[2020-09-10 16:28] lkhilton opened #103 "GRIDSS-PURPLE-LINX references"
The current GRIDSS-PURPLE-LINX module depends on the user downloading a bunch of reference files manually. Future releases should host these reference files on the bcgsc.ca/downloads site so that users can access these files reliably.

[2020-09-10 23:21] rdmorin opened #104 "GRIDSS not working for hs37d5 reference"
I tried to launch this on an ICGC genome and get the following error:
[code]

I also tried pointing to the development reference directory but it fails due to permissions error:

[code]

@lkhilton this might be fixed by opening up permissions in that directory.

[2020-09-10 23:40] rdmorin commented on #104
I realized that switching to version 2.4 solves the first problem.

[2020-09-10 23:40] #104 closed, assigned to nobody

[2020-09-11 00:22] lkhilton commented on #104
Is the second problem also solved?

[2020-09-11 00:36] rdmorin commented on #104
I can't test it right now because Snakemake is running. Did you change/open the permissions on that directory?

[2020-09-11 01:41] lkhilton commented on #104
I didn't, but others have written to that directory recently, so I'm not sure why you got that error

[2020-09-11 01:47] rdmorin commented on #104
[code]

[2020-09-11 22:14] rdmorin opened #105 "GRIDSS assembly error"
I ran the full gridss pipeline yesterday on this sample and it completed successfully. I'm trying it again (same inputs) and now it is failing. The file referred to by Snakemake (gridss.log) is empty. The log files in the working directory created for gridss have errors aplenty (below). Does gridss just do this sometimes? Is there a workaround?

[code]

[code]

[2020-09-13 16:06] rdmorin opened #107 "use _parent to name scratch subdirectories to match output directory base name"
Because we are sharing scratch directories within larger projects, it would be convenient if the base directory for those defined by scratch_subdirectories was named the same as _parent. This would allow more than one pipeline running the same tool to avoid trying to write to the same subdirectory (i.e. it could be named uniquely via a distinct _parent in the config). It looks like the implementat

[2020-09-13 16:22] rdmorin commented on #105
@lkhilton I have yet to reproduce this error, but in trying to track down the issue I realized there is probably a bug that crept in[ a very late commit.](https://github.com/LCR-BCCRC/lcr-modules/commit/eb923a238836feb3379031801056ecb5e2616ba3)
 This probably explains why I had an empty log file. I hadn't even notice this change when reviewing the PR and if I had I probably wouldn't have seen it a

[2020-09-17 16:10] Kdreval opened #108 "Ensure the GSC reference is used for decompression in bam2fastq module"
Some of the bam files are being crammed, and it was found that some of the compressed files rely on the specific reference that was used in file compression. Those samples were exiting with error in bam2fastq module. To prevent this, we need  to modify the bam2fastq module to use GSC reference for decompression.

[2020-09-22 14:56] rdmorin commented on #108
Is this done (via the PR I just approved)? If so, please close

[2020-09-22 14:57] rdmorin commented on #105
@lkhilton when you have some time can you confirm if this version is working? Note the commit I refer to above.

[2020-09-22 14:58] rdmorin commented on #87
Does anyone know if this resolved the issue @lkhilton was having?

[2020-09-22 15:08] Kdreval commented on #108
No, it was not done in that PR. It is still work in progress.

[2020-09-22 15:19] rdmorin commented on #108
Closing. This actually won't be necessary because the GSC is reheadering all the RNA-seq bam files to use the proper reference. If that process doesnt fix our issue we can re-open.

[2020-09-22 15:19] #108 closed, assigned to nobody

[2020-09-22 15:20] rdmorin opened #109 "Somalier"
Somalier uses the genotype of common germline SNPs to infer relatedness between samples and can help identify sample swaps and other issues.

[2020-09-22 16:16] BrunoGrandePhD commented on #87
As an FYI, there's mention of an option to group jobs in the latest version of Snakemake to improve performance. I don't know if this will help with running jobs for GAMBL.

https://github.com/snakemake/snakemake/blob/master/CHANGELOG.rst

[2020-09-22 16:28] lkhilton commented on #87
I did try out the patch (as I said above it didn't fix the indefinite hanging problem). Ryan discovered the job grouping and I've been using that as a fix for now, but the DAG of my pipeline means that I have to run the default normal through alone first, or else it tries to group all the unpaired tumours with the default unmatched normal in one giant group. I haven't had time yet to explore the s

[2020-09-25 05:14] lkhilton commented on #105
I'm running a version of the pipeline that fixes the log file problem. I haven't seen this assembly error come up yet (even on FFPE genomes taking > 24 hours to run). I'll close this when I submit a PR with my updated pipeline.

[2020-09-25 05:22] lkhilton commented on #87
I've done some debugging/digging and I think we can close this.

1. Snakemake 5.25 fixes the problem where Snakemake interpreted symlinks as outputs written to the same file.
2. The problem where the DAG solving step persists in 5.25. This problem is mentioned [here](https://github.com/snakemake/snakemake/issues/568). It seems the source of the problem is known but no fixes are in the works yet. I

[2020-09-25 05:22] #87 closed, assigned to BrunoGrandePhD

[2020-09-25 06:20] BrunoGrandePhD commented on #87
When you have a moment, you can try this branch on my repo. I basically merged the changes from `v5.25.0` into my previous `v5.23.0-fixed` branch, and I tried disabling the file inventory line that's referenced in the issue you linked to. I have no idea if this will break anything, but it might help with the stalling you've experienced.

[code]

[2020-09-25 16:01] rdmorin opened #111 "Make strand a required column for LCR-modules samples table?"
In order for the Picard QC modules to work for RNA-seq, the strandedess of the libraries needs to be specified. This would need to be supplied per library in the metadata. Should we make this required so the demo can actually work with Picard QC? If so we will have to document this and update the demo.

[2020-09-25 16:04] Kdreval commented on #111
The strandness information will also be required in kallisto module. I support that this should be required column in metadata

[2020-09-25 16:16] lkhilton commented on #111
We probably also be incorporating read length in the samples table for e.g. STAR

[2020-09-25 16:58] rdmorin commented on #111
Excellent point

[2020-09-25 16:58] rdmorin commented on #111
And polyA vs ribodepletion?

[2020-09-25 18:49] lkhilton commented on #111
Are there any modules that would behave differently based on this information?

[2020-09-25 19:07] rdmorin commented on #111
Probably not (at least not yet). I was envisioning it could be used as a variable for any batch effect correction in level 3 analyses.

[2020-09-25 22:20] BrunoGrandePhD commented on #111
These requirements can be added on a per-tool basis. You can add a schemas in the central repository, and symlink that schema in the `schemas/` subdirectory of the relevant modules. You can create one schema per extra required variable, or you can group them in some logical fashion.

[2020-09-28 23:16] rdmorin opened #112 "SOBDetector"
A tool to detect strand bias of variant calls. This has been used by other groups as an important filtering criterion for removing false positives.

https://github.com/mikdio/SOBDetector

[2020-09-28 23:28] rdmorin commented on #89
What's happening with this module? Is anyone actively working on it?

[2020-09-29 00:20] #91 closed, assigned to rdmorin, Kdreval, whelena

[2020-09-30 18:26] rdmorin opened #113 "3d structure-based hot spot tools"
We should try out one of these and determine which one(s) should be rolled into LCR-modules

https://github.com/KarchinLab/HotMAPS
https://github.com/ding-lab/hotspot3d

Or others I might not be aware of.

[2020-10-02 23:15] lkhilton commented on #94
What was the resolution to this, Ryan? Did you make changes to the utils module that will go on master to deal with the problem of the files exceeding allotted memory?

[2020-10-02 23:22] Kdreval commented on #94
I had just had this same problem yesterday. I do not know what was causing it, but you earlier in this thread suggested that Samtools briefly exceeds the allocated memory and this causes for scheduler to kill the process, and I think this might be the case. I was working on demo project for picard branch, and addressed this issue in [commit](https://github.com/LCR-BCCRC/lcr-modules/commit/47e9008b

[2020-10-02 23:25] lkhilton commented on #94
Thanks, Kostia. I'm running the version that was on master previously and having many problems. I'm testing with 80% of the allocated memory divided per thread. We should think about making this standard across lcr-modules, I'm sure we will one day come across other tools that have this same problem.

[2020-10-02 23:29] Kdreval commented on #94
The most recent merge from today's morning merge have demo that I run to completion yesterday. I did it on numbers and used the wrapper from demo project folder. This latest merge might help resolve the problems you have. I agree some other tools might need this adjustment, too. Even for the STAR, I did it on the demo sample only, but other samples may behave differently and it will still need adj

[2020-10-02 23:30] rdmorin commented on #94
How much we have to fudge the mem_mb seems to vary wildly. I agree we should try to implement this adjustment across all tools but we need to figure out what the right percentage is. I definitely still had failures when I used 80%.

[2020-10-17 17:32] rdmorin opened #118 "Bug in manta - output directory needs to be explicit"
This should be an easy patch.
[code]

[2020-10-21 13:34] rdmorin opened #120 "VCF2maf should delete intermediate vep outputs"
I noticed vcf2maf will error out if a ".vep.vcf" file from a previous run exists in the output directory. This file should be deleted at the end of a run. Since the naming is consistent, it could be marked as a tempfile so it is cleared if the pipeline fails partway through.

[2020-10-21 13:40] rdmorin commented on #118
Oddly this only came up when trying to run snakmake with "--touch". It may be an edge case.

[2020-10-21 17:22] lkhilton commented on #120
Are you using the latest master? I addressed this in #115.

[2020-10-21 17:52] rdmorin commented on #120
Quite possibly not. Now that you mention it I remember this change. Note that I am wary of pulling in Master due to some edits made directly to the GAMBL "production" clone of the repo.

[2020-10-21 19:52] rdmorin commented on #120
Indeed this was fixed before I reported it. Thanks @lkhilton !

[2020-10-21 19:52] #120 closed, assigned to nobody

[2020-10-21 20:24] rdmorin commented on #111
I suppose this is closeable once we have implemented this for STAR.

[2020-10-24 23:00] rdmorin opened #121 "Standardize output file names from LoFreq, Strelka and Mutect"
There are slight differences in the naming format of the final files output by these pipelines. These should be standardized so patterns can be used in level3 analyses.
LoFreq:
BLGSP-71-06-00004-01A-11D--BLGSP-71-06-00004-99A-01D--matched.combined.vcf.gz.  #.combined (no "passed")
Strelka:
BLGSP-71-06-00004-01A-11D--BLGSP-71-06-00004-99A-01D--matched_combined.passed.vcf.gz #_combined.passed
Mutect

[2020-10-24 23:25] rdmorin opened #122 "LoFreq produces corrupted VCF lines at some positions"
There are a few rows in the LoFreq VCFs that contain a non-ACTG character in the REF column. This may relate to bases in the reference genome that are not ACTG (i.e. IUPAC ambiguity characters).

Here's a fix that can get rid of these.
[code]

[2020-10-27 23:44] lkhilton opened #123 "Improving symlinks in `99-outputs`"
Currently, the relative symlinks in `99-outputs` point outside the base module results directory, which means that any time a module's results is moved wholesale the symlinks are broken. Is it possible to either update `op.relative_symlinks` or create a similar function that ensures that symlinks are self-contained within the module results directory?

[2020-10-28 18:29] BrunoGrandePhD commented on #123
Out of curiosity, are absolute file paths being provided as input to `op.relative_symlink()`?

I ask this because the function will "relativize" file paths if the the source file path isn't absolute. Oncopipe used to relativize everything (look for `relpath()` in [this diff](https://github.com/LCR-BCCRC/lcr-modules/commit/84d11bc46d1d0c07178ec5e59354d5efeaad9d43#diff-abb31a97733d4b6ab905890020512e

[2020-10-28 19:50] lkhilton commented on #123
Thanks, Bruno. No, the paths provided to `op.relative_symlink` are not typically absolute. The fix you suggest does seem straightforward so I will take a stab at updating it and let you know if I run into any issues or when it's ready for review.

[2020-10-30 20:28] Kdreval commented on #122
This has been addressed in the filtering script implemented in lofreq module with PR [124](https://github.com/LCR-BCCRC/lcr-modules/pull/124) so the issue can be closed.

[2020-10-30 21:38] lkhilton commented on #121
Addressed by #124, #125, and #126.

[2020-10-30 21:38] #121 closed, assigned to nobody

[2020-10-31 02:15] #122 closed, assigned to nobody

[2020-10-31 14:51] rdmorin opened #128 "LoFreq VCF misuse of AF"
The Lofreq somatic outputs use AF to denote variant allele frequency in the tumour. This is very problematic if we ever want to use the Gnomad VCF with AF information to annotate these VCFs. The (silent) behaviour is for 'bcftools annotate' to substitute the VAF (mis-named AF) in the lofreq VCF with the Gnomad AF. For any variants not in Gnomad, they keep the original value. In other words, common

[2020-10-31 15:19] rdmorin commented on #128
Another solution using bcftools is to drop the AF completely but there are clearly drawbacks to this. I will point out that the DP and DP4 columns can be used to regenerate the VAF if needed. My bcftools skills are not strong but I suspect there is a way to recalculate this with bcftools and add it back as a new (e.g. VAF) annotation.

[code]

[2020-10-31 15:30] Kdreval commented on #128
I think the first solution of renaming AF to VAF is an option to go. I will implement this together with the fix for the killed runs

[2020-11-05 00:27] Kdreval commented on #128
This issue has been addressed with PR [# 129](https://github.com/LCR-BCCRC/lcr-modules/pull/129) and can be closed.

[2020-11-09 22:35] lkhilton commented on #90
Addressed by #124.

[2020-11-09 22:35] #90 closed, assigned to nobody

[2020-11-09 22:36] lkhilton commented on #4
Addressed by #117

[2020-11-09 22:36] #4 closed, assigned to lkhilton

[2020-11-09 22:36] lkhilton commented on #11
Addressed by #49

[2020-11-09 22:37] #11 closed, assigned to whelena

[2020-11-09 22:41] lkhilton commented on #123
Addressed by #130

[2020-11-09 22:41] #123 closed, assigned to BrunoGrandePhD

[2020-11-09 22:42] #128 closed, assigned to Kdreval

[2020-11-10 23:53] lkhilton commented on #111
Read lengths added to STAR in #119

[2020-11-10 23:53] #111 closed, assigned to nobody

[2020-11-10 23:53] lkhilton commented on #103
Addressed in #117

[2020-11-10 23:53] #103 closed, assigned to lkhilton

[2020-11-10 23:57] lkhilton commented on #92
I've been telling everyone to use resource unpacking and specify default resource values in the config. I think this has mostly been addressed but I think we should add it as a requirement in new and updated modules, what do you think?

[2020-11-10 23:58] lkhilton commented on #95
The PR template is located in `.github/PULL_REQUEST_TEMPLATE.md` and can be edited on any branch. This is pretty out of date now, do you remember what you wanted to add?

[2020-11-10 23:59] lkhilton commented on #118
Given that this seems to be an edge case from the `--touch` command, could we close this? I haven't had it come up in any recent Manta runs on either capture or RNAseq data.

[2020-11-11 00:21] rdmorin commented on #92
Fully onboard with default resource values but I admit I don't yet understand the benefits of it or the drawbacks of not having resource packing consistently used.

[2020-11-11 00:23] rdmorin commented on #95
Yes. It was mostly surrounding documentation of the process for increasing the version number, which wasn't documented anywhere at the time (and may still not be). I was also mulling over asking developers to add in-line comments explaining non-trivial and even what they might consider trivial changes with in-line comments. These could be deleted during a final set of commits but would help guide

[2020-11-11 00:35] rdmorin commented on #118
Yes. closing

[2020-11-11 00:35] #118 closed, assigned to nobody

[2020-11-11 00:35] rdmorin commented on #92
Is resource unpacking documented somewhere?

[2020-11-11 00:40] lkhilton commented on #105
Addressed with #117

[2020-11-11 00:40] #105 closed, assigned to nobody

[2020-11-12 22:37] rdmorin opened #137 "vcf2maf t_ref_count and t_alt_count is not consistently populated"
I noticed that the values that we can use to recalculate VAF (t_depth, t_ref_count, t_alt_count) are present in Strelka MAFs but missing from the MAF files from Lofreq VCFs. I am not sure (yet) if Mutect will also be affected. We should ensure this information is consistently present in all MAFs, if possible.

[2020-11-12 22:37] rdmorin opened #138 "Lofreq MAFs lack allele counts"
I noticed that the values that we can use to recalculate VAF (t_depth, t_ref_count, t_alt_count) are present in Strelka MAFs but missing from the MAF files from Lofreq VCFs. I am not sure (yet) if Mutect will also be affected. We should ensure this information is consistently present in all MAFs, if possible.

[2020-11-12 22:38] rdmorin commented on #137
accidental duplicate

[2020-11-12 22:38] #137 closed, assigned to nobody

[2020-11-12 22:59] Kdreval commented on #138
Hm, I checked the Lofreq VCFs and the counts are in the vcf outputs, but not the tumour depth. Also, doesn't seem like these counts travel to the mafs in general (not only missing from the columns you specified, but also from other columns, too). I think what I can do is to retrieve this information from the vcf file, and then populate columns in the maf file. I will think about this, and also see

[2020-11-12 23:14] Kdreval commented on #138
So the `t_depth` should be coming from the `DP` column of vcf, which is there for the Lofreq outputs. I think the reason `t_ref_count `and `t_alt_count` are not populated is because Lofreq vcfs are missing the `AD` (or `RD`) column information. Similar to AF->VAF, I will need to work on the format of Lofreq outputs. I think once that is done, the vcf2maf conversion should go properly.

[2020-11-12 23:24] rdmorin commented on #138
I suggest you start by figuring out how/why this works out of the box for Strelka VCFs. It may be easier to modify the Lofreq VCFs to just "work" with vcf2maf.

[2020-11-12 23:25] rdmorin commented on #138
I posted this before seeing your second comment. Yes, you're on the right track.

[2020-11-12 23:31] Kdreval commented on #138
I looked further and found that vcf2maf does not support the `DP4` column, where Lofreq outputs counts. To make it working with vcf2maf, I think I will add together the counts for ref-forward bases and ref-reverse from lofreq output to get the value of total ref counts, and will create a new column so vcf2maf can recognize and use it for `t_ref_count`.

[2020-11-16 16:32] Kdreval commented on #138
I did more investigation and realized it is a common problem. After inspecting the vcf2maf code, I found that the `DP4` column _is_ actually supported in the latest version of `vcf2maf`, but not in the way it is output by lofreq. The difference is that it needs to be in the FORMAT, not INFO column of vcf. I followed issues # 57 from lofreq git, and # 167 from vcf2maf git. I came up with the soluti

[2020-11-18 04:34] rdmorin commented on #92
I also agree but really want to see it in the documentation. I am also strongly supportive of improving it (as per Bruno's suggestion) for compatibility with the increase of memory request over N attempts. If that works, we should shift to that approach across the board.

[2020-11-26 17:41] rdmorin opened #142 "vcf2maf should remove decompressed vcfs after completion"
I noticed that vcf2maf leaves decompressed vcfs at the end of the pipeline. These should be marked as temporary so they are deleted. This is adding up to a lot of unnecessary disk space.

[2020-12-06 16:05] #142 closed, assigned to nobody

[2020-12-07 17:29] rdmorin opened #146 "Globally prepend module's "src" directory in modules to simplify use of bundled scripts"
The latest Lofreq modification implements a cleaner and more maintainable approach to utilize bundled scripts in "src". Our original approach meant that each script had to be specified in the config. The new structure for the config is shown below.

[code]

The value of src_dir is then used in the module as follows.

[code]

[code]

In order to implement this in existing modules we will need to do

[2020-12-09 16:00] rdmorin commented on #138
Is this fixed in vcf2maf 1.2?

[2020-12-09 16:02] Kdreval commented on #138
This was more of a lofreq problem. It was fixed with PR #139 and this issue can be closed.

[2020-12-09 16:04] rdmorin opened #148 "Battenberg seg files do not include subclonal information"
In parsing the Battenberg output and converting it to seg files for post-processing and visualization, we are currently only using the "top" clonal population. In tumours with substantial subclonal fractions, this gives very different copy number profiles than expected. We need to update cnv2igv.py to handle this properly.

[2020-12-09 16:24] #138 closed, assigned to Kdreval

[2020-12-09 16:25] rdmorin commented on #74
@lkhilton did you mention some time ago that you had thought of a fix for this?

[2020-12-09 16:30] rdmorin opened #149 "add disk_mb resource to config for tools that consume a large amount of scratch space at runtime"
A few of our modules (the STAR, bam2fastq combination, GRIDSS, battenberg) create fairly large temporary files that eat up a lot of scratch space. To help reduce the risk of a pipeline filling up all the scratch space we should provide users with a way to throttle their runs, thereby not starting jobs if there is not enough scratch space theoretically available. This can be done per rule so Snakem

[2020-12-09 19:15] lkhilton commented on #149
Is this different from setting e.g. `bam=1` in the Snakefile and `--resources bam=50` in the Snakemake command?

[2020-12-09 19:46] rdmorin commented on #149
I think so. The idea here is the user is no longer required/expected to know what the data footprint of one bam-equivalent would be for each pipeline. Instead, the user would specify their resources in available disk_mb. For example, if I knew I had only 2TB to work with in scratch I could set my resource limit to be 1.5TB at most. This would prevent any new jobs from launching if they could excee

[2020-12-09 19:55] lkhilton commented on #149
That makes sense. I think the only issue then is that the disk_mb value can vary pretty widely. For GRIDSS on fresh frozen the temp footprint is like 20 GB, on FFPE it's sometimes 150-200 GB. But picking an intermediate/conservative value and putting some comments in the default config to guide users on when/how to change it would address that.

[2020-12-09 19:58] rdmorin commented on #149
I agree with that being an issue. I wonder if we could configure a few values of this that would be set at runtime depending on the sample type? The same idea would apply here for running battenberg on a genome vs an exome.

[2020-12-09 20:27] lkhilton commented on #149
Ah yes, a `switch_on_wildcard` would be useful here.

[2020-12-09 20:52] rdmorin commented on #149
Might it be more useful if we had FF/FFPE status as a wildcard, though? Or is there an alternative we can use that doesn't require a wildcard?

[2020-12-09 21:00] lkhilton commented on #149
Using switch_on_wildcard to change the value based on FF/FFPE would require it to be a wildcard. It could also be a column in the samples table, but it still requires that to be in the samples table. I was thinking we'd just use switch_on_wildcard for changing the value based on seq_type, and provide guidance to the user on increasing those values for FFPE samples.

Need to also think about how th

[2020-12-10 17:58] Kdreval commented on #148
submitted [PR #15](https://github.com/LCR-BCCRC/lcr-scripts/pull/15)

[2020-12-21 17:49] lkhilton opened #153 "Update Snakemake dependencies in Oncopipe"
Snakemake has fixed the issues we had been agonizing over in #87, and I'm now confident that oncopipe is compatible with Snakemake > 5.27. @BrunoGrandePhD, can you please offer some guidance on how to update this so that `pip install -e oncopipe` allows more recent versions of Snakemake?

[2020-12-21 20:09] Kdreval opened #154 "liftover outputs are not sorted"
UCSC liftOver does not output sorted bed files after conversion. Therefore, the outputs of `liftover` module are not sorted as well. This needs to be resolved as it creates problems for downstream applications.

[2021-01-05 03:43] BrunoGrandePhD commented on #153
Back from vacation.

[This](https://github.com/LCR-BCCRC/lcr-modules/blob/master/oncopipe/setup.py#L25) is the line you need to tweak. Specifically, you probably still want to omit the problematic versions of Snakemake, so you can update the entry to something like `"snakemake>=5.4,<5.19,>=5.27"`.

On a separate note, if you want to make sure that pip installs the latest available version of Snake

[2021-01-05 16:17] lkhilton commented on #153
Thank you!

[2021-01-05 16:56] lkhilton commented on #153
Related: How would I go about updating to 1.0.11 in PyPi? It seems straightforward, I suppose the question is whether I have the necessary permissions to update it.

[2021-01-05 17:02] rdmorin commented on #153
Could we take this opportunity to add the packaging module as a dependency also? It is needed for the version checking we are about to implement.

[2021-01-05 17:05] lkhilton commented on #153
Would we need to add it to the old versions retroactively?

[2021-01-05 17:27] rdmorin commented on #153
I think we resolve this by checking for the dependency and asking the user to upgrade if it's missing. This is effectively going to catch most cases of people using pre-1.0.11 installations of oncopipe but we'll check the version as well.

[2021-01-06 00:20] rdmorin opened #158 "Update cookiecutter to use new oncopipe features and model updated design practices"
Since the cookiecutter was made, we've adopted some conventions that we probably want to be a component of all new modules. The easiest way to encourage this is through the cookiecutter template. The ones that immediately come to mind are:

- [x] Use the new in_module option for symlinking output files
- [x] Switch all input files to use absolute symlinks instead of the default (relative)
- [x] Gr

[2021-01-06 00:23] rdmorin commented on #158
@Kdreval and @lkhilton probably have other ideas for what else we could/should include

[2021-01-06 04:09] lkhilton opened #159 "vcf2maf: New custom_enst argument breaks when empty"
V1.2 of vcf2maf can't be run without a custom_enst value for every genome build. It throws this error:
[code]

This is a bit of a circularity problem since you have to first run vcf2maf to find non-canonical transcripts to supply to this argument. Maybe it need an `if` statement to test if the field is empty an run a different command based on that test?

[2021-01-06 04:11] Kdreval commented on #159
I was able to run with an empty file when testing. Can you point it to a dummy file?

[2021-01-06 04:14] lkhilton commented on #159
Will try and report back, thanks!

[2021-01-06 04:31] rdmorin commented on #159
If this works can we set it up and document it in the config to make it more clear that users should leave the empty/dummy file unless they replace it with their own?

[2021-01-06 04:33] Kdreval commented on #159
Absolutely!
I did it in demo config, should have thought about the default config as well
[code]
EDITED: Not even like this, the path should be for each build. I will update it once Laura confirms it worked for her.

[2021-01-06 05:23] lkhilton commented on #159
This is the result with an empty file:
[code]

[2021-01-06 05:46] rdmorin commented on #159
It probably worked for Kostia because he has a copy of that file in his gambl-repo "etc" folder. The config probably just needs to be changed to refer to the one under MODS_DIR or whatever it's called.

[2021-01-06 05:50] Kdreval commented on #159
it might be the case. However, I also tested it for the demo sample, which is another repo, and another directory. But most likely it worked for me because I have a file there as well. I am setting it up to test outside GSC network, to see if I can come up with the same error.

[2021-01-06 06:09] rdmorin commented on #159
In my Battenberg config I set the path to src this way:
[code]

I presume this will fix the issue:
[code]
Did "data" get substituted with "etc" in a recent commit, perhaps?

[2021-01-06 07:44] Kdreval commented on #159
I found it a bit unusual but the issue is that the empty file cannot be 0 b. I had a newline (just a return) in my file, so it was 5 b in size and therefore technically not emty. I found that if I remove the newline from a file (making it 0 b), vcf2maf exits with the same error complaining about the empty file.  In any case, the `switches` in config should not be empty contrary to what I put in th

[2021-01-06 15:22] BrunoGrandePhD commented on #153
If I recall correctly, PyPI prevents you from updating past versions for the sake of reproducibility.

To deploy to PyPI, you need to update the oncopipe version in `__version__.py`, which is already done, and then push a new tag (in this case, `v1.0.11`, which is missing) to GitHub. That will trigger the package to be deployed to PyPI automatically using [GitHub Actions](https://github.com/LCR-BC

[2021-01-06 16:18] rdmorin commented on #153
Thanks Bruno. I've just done this. Is this something only admins can do or can anyone push a new tag to Master?

[2021-01-06 16:32] lkhilton commented on #159
The newline was the key, thanks!

[2021-01-06 18:34] BrunoGrandePhD commented on #153
Tags are simply references to specific commits, so anyone with write-access to the repo should be able to publish new tags. When you do, you can monitor the continuous integration (CI) [here](https://github.com/LCR-BCCRC/lcr-modules/actions) to make sure it runs successfully.

[2021-01-06 21:43] Lakshay-sethi commented on #153
@BrunoGrandePhD Do you know what's the process to update the package on conda?

[2021-01-06 22:09] lkhilton commented on #153
It's never been on Conda, but you can use Conda to install and track packages installed through pip. Documentation is [here](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#using-pip-in-an-environment).

[2021-01-06 22:15] Lakshay-sethi commented on #153
I was talking about updating oncopipe version to  1.0.11 in conda package manager.

[2021-01-06 22:18] lkhilton commented on #153
I take it back, I didn't think it had been added to Conda. Never mind.

[2021-01-06 22:33] rdmorin commented on #153
I was surprised too! I don't know how that happened but it's a recent version too.

[2021-01-06 22:36] rdmorin commented on #153
Since we are recommending people install from pip it is somewhat irrelevant but I am interested in knowing how version 1.0.10 got there.

[2021-01-07 00:01] BrunoGrandePhD commented on #153
I never put `oncopipe` on conda (more specifically, in the bioconda channel). My best guess is that Bioconda re-publishes Python packages on PyPI tagged with the `Bio-Informatics` topic (see [this line](https://github.com/LCR-BCCRC/lcr-modules/blob/master/oncopipe/setup.py#L33)).

Edit: So, the process of updating `oncopipe` on conda might be to just post an update on PyPI, and Bioconda's infrastr

[2021-01-11 14:44] rdmorin commented on #158
RE: Group the input rule with the second rule to show users how to use grouping to avoid a ton of fast local jobs
Has anyone else started doing this in their tools? I had some errors with this originally but my DAG was more complex than I had originally thought. Once I simplified the grouping to just pairs of rules that ran consecutively it seemed to work fine.

[2021-01-11 18:11] Lakshay-sethi commented on #153
The conda update happened approximately 5 hours ago, so the latency is 5 days.

[2021-01-12 02:28] Kdreval commented on #154
Addressed in version 1.2, PR #160

[2021-01-12 02:28] #154 closed, assigned to Kdreval

[2021-01-12 02:30] Kdreval commented on #148
I will close this issue since it is addressed in version 1.3 of the cnv2igv script

[2021-01-12 02:30] #148 closed, assigned to Kdreval

[2021-01-12 02:39] Kdreval commented on #93
I just tried running the module in Cedar with demo sample and it built all the environments and run from the first try. I think this solved installation problems and issue can be closed.

[2021-01-13 00:04] rdmorin commented on #159
Can this be closed?

[2021-01-13 00:05] Kdreval commented on #159
This has been resolved. With this patch I wanted to push also update on demo module where vcf2maf is running. I am still working on that update. I will close the issue once issue PR.

[2021-01-16 03:47] lkhilton opened #161 "Specifying a Snakemake scheduler"
Since adding the ILP scheduler, which is default as of Snakemake 5.26.1, I have a ton of issues with workflows with a large number of checkpoints. There are a number of GitHub issues related to this on the Snakemake GitHub page, but it hasn't been fixed yet. An easy workaround is to specify "--scheduler greedy" whenever launching Snakemake, which reverts to the original scheduling algorithm. It's

[2021-01-16 04:33] rdmorin commented on #161
Seems reasonable. Does the setting get stored in the config?

[2021-01-16 04:52] lkhilton commented on #161
Not that I know of, hence I'm not sure how easy it would be to implement.

[2021-01-16 05:14] rdmorin commented on #161
Have we ruled out bundling the wrappers with LCR-modules and adding some more for other schedulers? Are they too tailored to our setup?

[2021-01-17 17:52] Kdreval commented on #88
This has been addressed in PR #164 by adding coreutils to the environment that is used during ` _sequenza_filter_seqz`. I have also decreased the number of cores provided from 10 to 8 since documentation says they restrict to 8 anyway if more cores are provided.

[2021-01-17 17:52] #88 closed, assigned to nobody

[2021-01-18 19:11] rdmorin opened #166 "Rules should not explicitly refer to scripts as inputs"
The setting of scripts used by specific rules as explicit inputs to that rule is problematic. When a second user is using a different copy of the lcr-modules repo the pipeline will then force re-running of the rules that depend on that input file. For example, if the following rule is run by user B (let's call her Laura... no, Dr. H) on a partially completed run of the pipeline (run by user A, or

[2021-01-20 23:22] ckrushton commented on #82
I would like to plug Travis-CI for this exact purpose

[2021-01-21 00:05] rdmorin commented on #82
:100:

[2021-01-22 22:49] lkhilton opened #168 "picard_qc module is buggy"
I spent an hour this afternoon trying to get the picard_qc v1.0 module running on my data. Currently it has problems with specifying capture bed files, it expects a "strand" column in the table regardless of whether the input data is RNAseq or capture (although "strand" is not a required column in the module schema), and it seems to have a knack for periodic wildcard expansion that made it impossi

[2021-01-22 22:53] Lakshay-sethi commented on #168
Hi,
While testing the demo, I also faced this strand issue for a number of modules.  It would be a big help if the person tacking this, could also look into other modules too.

[2021-01-22 22:55] lkhilton commented on #168
Which other modules did you encounter the strand issue for?

[2021-03-05 23:11] Lakshay-sethi opened #173 "oncopipe : dependency checker script"
Developing a script that contains oncopipe dependency check and other components that are common between many or all modules.
- [ ] Dependency checker
- [ ] more to be added

[2021-03-11 15:22] rdmorin opened #174 "generate_sets"
We currently have a function in oncopipe ([generate_pairs](https://lcr-modules.readthedocs.io/en/latest/oncopipe/oncopipe.html#oncopipe.generate_pairs)) that handles the complex task of matching up tumours and their matched normal samples. I think we need to implement a similar function in oncopipe that allows more complex sample sets to be automatically constructed with other groupings (not alway

[2021-03-16 17:36] rdmorin opened #175 "switch to conda installation of oncopipe"
India suggested we should change LCR-modules to use conda to install oncopipe, which should help ensure the dependencies are met. In order to switch to using conda to install oncopipe we need a way to directly create a conda release for any new oncopipe release.

[2021-03-16 18:31] oncogenomics commented on #175
It looks like the bioconda release is up to date with our current version (v1.0.11): https://anaconda.org/bioconda/oncopipe
Conda-bot should update within a day or so if we release a new version.
If we use conda to install (rather than pip) when we run lcr-modules we can take advantage of their nice dependency resolution, and optimizations.
I will try running the Bioconda package on Thanos after m

[2021-03-16 18:56] rdmorin commented on #175
Can you determine what date the conda package with that version appeared? I don't think we can assume the lag will only be a few days. We should be certain that it's within an acceptable (ideally consistent) time frame.

[2021-03-16 22:20] oncogenomics commented on #175
Laura last updated [the oncopipe version](https://github.com/LCR-BCCRC/lcr-modules/blob/master/oncopipe/oncopipe/__version__.py) on December 5th 2020 and the [oncopipe bioconda package](https://anaconda.org/bioconda/oncopipe) was last updated January 11th 2021.

[2021-03-16 23:08] oncogenomics commented on #175
[Here](https://github.com/bioconda/bioconda-recipes/pull/26075) is the update v1.0.11 oncopipe PR on bioconda.

The Conda Bot submits a PR to the bioconda repo (this took roughly 1 month) and then the PR needs to be manually reviewed (roughly 5 days) and merged (0 days).

Skipping the bot and doing a manual PR would have shaved a month off of the update time. We would shave 4 days off by formattin

[2021-03-17 22:46] rdmorin commented on #175
What do you mean by artifacts?

[2021-03-18 06:39] oncogenomics commented on #9
@rdmorin you marked this "Done", should this issue be closed?

[2021-03-18 18:01] #9 closed, assigned to whelena

[2021-03-18 18:18] rdmorin commented on #113
Manuela has gotten some nice results from HotMAPS. I wonder if that's something we could make portable, given it's reliance on a local mysql instance. Maybe we'd need something Dockerized?

[2021-03-18 18:20] rdmorin commented on #112
Any movement on this, @ckrushton ?

[2021-03-18 18:45] oncogenomics commented on #12
@rdmorin This one is done too, closed?

[2021-03-18 18:51] oncogenomics commented on #173
I am closing this issue since this will be covered by issue #175.

[2021-03-18 18:51] #173 closed, assigned to nobody

[2021-03-18 18:59] oncogenomics commented on #93
Closing this issue as the bug seems to be fixed with by changing the ```install_github``` line from

```dependencies = FALSE```

to

```dependencies = TRUE```

[2021-03-18 18:59] #93 closed, assigned to nobody

[2021-03-18 19:40] rdmorin commented on #12
Kallisto isn't done

[2021-03-18 20:00] oncogenomics commented on #175
[Artifact](https://en.wikipedia.org/wiki/Artifact_(software_development)) is a general software development term. In this case we would need to do small tidying like removing pip install dependencies and replacing them with conda dependencies, and integration with their CircleCI packaging scripts.

[2021-03-18 22:09] oncogenomics opened #177 "Autorun basic tests on thanos when master updated"
Currently we are manually running the demo workflow to make sure our changes are not breaking master. At minimum this needs to be an automated chron job on thanos which detects updated files and only runs the relevant demo sections.

[2021-03-19 16:50] rdmorin commented on #112
Assigning to @oncogenomics. this should be a good "first" tool for you to implement.

[2021-03-19 20:33] lkhilton commented on #174
@oncogenomics I've made a handy reprex for you to mess around with to get the gist of what we're trying to accomplish. You should have permissions to be able to run this directly:

[code]

Essentially we have results files that have been generated by retrieving wildcards from a "runs" table, which is generated from the input samples table (in my example the maf files fit this description). We migh

[2021-04-27 23:45] Lakshay-sethi commented on #161
https://github.com/LCR-BCCRC/lcr-modules/blob/oncopipe-patch/oncopipe/setup.py

[2021-04-28 01:09] Lakshay-sethi opened #180 "Liftover issue regarding seq_type"
While generalizing the input links for demo configs, I got to know about the issue plaguing liftover.

Currently, liftover is not able to use seq types intuitively.

[2021-05-13 04:09] Kdreval commented on #21
This was addressed in PR #183 implementing both Rainstorm and Doppler in one snakefile

[2021-05-13 04:09] #21 closed, assigned to matnguyen

[2021-05-14 02:56] Kdreval commented on #23
This module is in PR #184

[2021-05-14 02:56] #23 closed, assigned to matnguyen

[2021-05-14 02:57] Kdreval commented on #20
This was recently implemented as module and merged into master #182

[2021-05-14 02:57] #20 closed, assigned to Jwong684

[2021-06-17 01:02] Kdreval commented on #180
Addressed in PR #186

[2021-06-17 01:02] #180 closed, assigned to Kdreval

[2021-09-14 20:01] ckrushton opened #193 "SAGE doesn't handle `chr` prefixes correctly"
By default, the "get_chromosomes" function in SAGE returns "chr" prefixed contig names if the reference genome has "38" in the name, or non-chr prefixed if it doesn't. This causes problems if we have data aligned chr-prefixed versions of GRCh37/hg19. Also, the associated SAGE reference files (hotspot VCF, high confidence regions BED) are hard-coded to be chr-prefixed for GRCh38, and non-chr-prefix

[2021-09-14 20:09] Kdreval commented on #193
good thing you caught the get_chromosomes! Do you know if there is a way to just make a list from the content of the associated  main_chromosomes.txt file created by reference_files? I couldn't get it to work because functions cannot refer to sub workflows on a clean repository where no reference files were generated before, so came up with that implementation - clearly not really working.
For the

[2021-09-14 20:22] ckrushton commented on #193
Ah that makes sense. I have a workaround where it just checks the .fai file to determine if the contigs are `chr` prefixed or not, since the index is specified as a rule input previously. Could we just modify `_input_references` to also include the `main_chromosomes.txt` file, to ensure that file exists?

[2021-09-14 20:25] rdmorin commented on #193
I agree a configuration file should specify this mapping and all snakefiles should have a way to use that.

[2021-09-14 20:37] Kdreval commented on #193
It was handled like this before:
[code]
But this was not working regardless of the presence of main_chromosomes.txt file in the `_input_references` rule, because the function cannot see this file is generated by snakemake if you are starting on a fresh copy of the repo where no reference files are present. Maybe this can be adopted? How are you referring to fai file currently?

[2021-09-14 21:00] ckrushton commented on #193
I'm referring to it in the same manner, but since the `fai` file is specified in `_input_references` it should be ok 99% of the time. Can we specify the `main_chromosomes.txt` file as an input to `run_sage`, which will ensure it exists
 even if its not directly called by `shell`?

[2021-09-14 21:06] Kdreval commented on #193
Right, 99% of time because we already have reference files pre-generated. That error was picked up because someone else on GSC outside GAMBL tried to run it: https://morinlabsfu.slack.com/archives/C01FU4P6GLT/p1610819101002000
It does not matter whether main_chromosomes or fai file is used, as long as you are restricting to autosomes+X. They will both give same output and both will error out if no

[2021-09-14 21:29] ckrushton commented on #193
So what I ended up doing is modifying `run_sage` with
[code]
Which should allow snakemake to use the reference workflow if necessary to create it

[2021-10-01 23:26] Kdreval commented on #6
This has been resolved by Prasath's Sigprofiler module in PR https://github.com/LCR-BCCRC/lcr-modules/pull/189

[2021-10-01 23:26] #6 closed, assigned to rdmorin, ppararaj

[2021-10-01 23:31] Kdreval commented on #153
This has been addressed in PR https://github.com/LCR-BCCRC/lcr-modules/pull/165 Now oncopipe will work with versions >=5.31 of Snakemake. Closing this issue for now

[2021-10-01 23:31] #153 closed, assigned to Lakshay-sethi

[2021-10-01 23:37] Kdreval commented on #159
I have added documentation for this in the PR https://github.com/LCR-BCCRC/lcr-modules/pull/165

[2021-10-01 23:37] #159 closed, assigned to Kdreval

[2021-10-05 05:07] Kdreval commented on #158
This is addressed in PR https://github.com/LCR-BCCRC/lcr-modules/pull/172

[2021-10-05 05:07] #158 closed, assigned to nobody

[2021-11-19 23:11] kmcoyle opened #199 "StringTie"
StringTie does de novo transcriptome assembly; can identify novel splice junctions.

[2022-01-05 23:03] lkhilton opened #204 "Oncopipe mis-handling unmatched normal IDs"
If the config contains unmatched normal IDs with a seq_type that isn't in the samples table, oncopipe consistently throws an error:

[code]

The `op.generate_runs` function checks for all seq_type unmatched_normal_ids in the config regardless of whether the samples table has been subset to exclude a particular seq_type:
[code]

One way to patch this would be to generate a list of all `{seq_type}--

[2022-01-14 18:54] mattssca commented on #204
The reported bug has been addressed in Pull Request [#208](https://github.com/LCR-BCCRC/lcr-modules/pull/208)

[2022-01-14 22:48] #204 closed, assigned to mattssca

[2022-01-17 18:06] Kdreval opened #210 "Add unmatched samples to demo data"
The demo data currently includes only samples with paired normal. To enhance the robustness of using it for the testing of lcr-modules updates, both capture and genome seq types need to include unmatched samples.

[2022-01-27 00:18] Kdreval opened #214 "Update documentation"
The documentation does not correspond now to the recent updates of the lcr-modules demo, and some commands listed there are now working. This need to be updated to reflect the recent changes.

[2022-02-02 03:09] Kdreval commented on #193
This is now addressed in the PR #215 and the buggy function is dropped in favour of using shell `paste` directly.

[2022-02-02 03:09] #193 closed, assigned to nobody

[2022-02-02 03:10] Kdreval commented on #193
This is now addressed in the PR #215 and the buggy function is dropped in favour of using shell `paste` directly.

[2022-02-02 03:10] Kdreval commented on #199
Thanks, Krysta for making the module for it! Closing the issue as completed

[2022-02-02 03:10] #199 closed, assigned to kmcoyle

[2022-02-02 03:14] Kdreval commented on #47
Found this issue when going over tasks, and I believe this is now addressed in the recent oncopipe update, merged with PR #192 . Will close this issue.

[2022-02-02 03:14] #47 closed, assigned to nobody

[2022-02-23 23:51] rdmorin opened #216 "Documenting what each tool accomplishes"
We don't have a clear way to summarize the inputs/outputs and "purpose" of individual modules. Users currently are expected to just know which modules they need. We should think about, and implement, a system for indicating what each tool does. Perhaps we can start by grouping them and tagging them somehow:

* Variant callers -> CNV callers, SNV callers, SV callers
* Variant integrators -> SNV int

[2022-03-07 19:22] lkhilton opened #219 "Default unmatched normal bug"
The default unmatched normal checking is still looking across genome_build and seq_type values, so it thinks there is more than one matching normal ID if you try to use the same normal ID for multiple genome_build/seq_type combinations. This contradicts what is documented in the LCR-modules documentation and in the error message output by oncopipe:
[code]
Can this be patched at some point so that

[2022-03-07 19:25] lkhilton commented on #219
I think it might be as simple as editing [this code](https://github.com/LCR-BCCRC/lcr-modules/blob/f046faba655c23dddf4f7fb22fe932a7ef78a9bd/oncopipe/oncopipe/__init__.py#L1243-L1244)

to:

[code]

[2022-03-09 22:04] Kdreval opened #221 "Harmonize all CNV caller modules and automatically convert seg files to projections"
We have so far 4 different CNV callers in lcr-modules: battenberg, sequenza, controlfreec, and cnvkit. They all are very different in the naming convention of the outputs and neither of them does the automatic conversion of generated seg files to the alternative projection.

The liftover module should be automatically imported by each CNV module and perform conversion to alternative genome build a

[2022-03-21 22:58] Kdreval commented on #221
Unfortunately, snakemake does not allow to import of the same snakefile as a sub-module within several module snakefiles as part of a project. It results in conflicting rules/outputs, with whichever module gets loaded latest gets the preference. This update will need a separate script implemented for liftOver, similar to how crossmap is organized within vcf2maf.

[2022-05-20 15:53] Kdreval commented on #221
This has been resolved in the PR #224

[2022-05-20 15:53] #221 closed, assigned to Kdreval

[2022-05-20 15:56] Kdreval commented on #15
This is now addressed in PR #237

[2022-05-20 15:56] #15 closed, assigned to whelena

[2022-05-20 15:57] Kdreval commented on #168
New module `qc` in #237 replaces this module, so I will close this issue now.

[2022-05-20 15:57] #168 closed, assigned to Lakshay-sethi

[2022-06-23 21:15] Kdreval commented on #12
Salmon module makes the kallisto redundant, so I am closing this issue.

[2022-06-23 21:15] #12 closed, assigned to Kdreval, whelena

[2022-06-23 21:15] Kdreval commented on #17
Laura says Delly sucks

[2022-06-23 21:15] #17 closed, assigned to whelena

[2022-06-23 21:17] Kdreval commented on #77
Closing this issue due to multiple superior modules already on master

[2022-06-23 21:17] #77 closed, assigned to ckrushton

[2022-06-23 21:19] Kdreval commented on #101
SLMS-3 FTW!

[2022-06-23 21:19] #101 closed, assigned to Jwong684

[2022-06-23 21:21] Kdreval commented on #112
Will close this issue due to low interest in developing and using this tool

[2022-06-23 21:21] #112 closed, assigned to ckrushton, oncogenomics

[2022-06-23 21:30] Kdreval commented on #210
We decided to have the current tumor sample twice to emulate unmatched mode

[2022-06-23 21:30] #210 closed, assigned to nobody

[2022-06-23 21:32] Kdreval commented on #219
This is resolved in v12

[2022-06-23 21:32] #219 closed, assigned to nobody

[2022-06-23 21:33] Kdreval commented on #214
We need to also document the process of updating the module version

[2022-07-20 16:34] rdmorin opened #243 "in_module is missing from some output rules"
I noticed some of our outputs are still using the very deep relative symlinks that would cause them to break if a folder was relocated. Lymphgen currently has this issue and needs in_module = True in the output rule. This should be done for other affected tools.

[2022-10-05 07:21] lkhilton opened #251 "Refactor the LymphGen module to run per-sample"
The current LymphGen module relies on merged maf, seg, and structural variant files to run. In many cases this is fine, but in a project on the scale of GAMBL it's very cumbersome. Could we take a look at modifying the existing module to run per-sample?

[2022-11-30 14:21] emouts opened #255 "Missing lymphgen script"
Hello,

Thank you for all your hard work in creating and maintaining this suite of modules, it has been a great resource!

I had a question about running the lymphgen module: The config["lcr-modules"]["lymphgen"]["options"]["lymphgen_run"]["lymphgen_path"] parameter is set to a local path in the current version ("/projects/rmorin/software/lcr-scripts/LymphGen/Run_Lymphgen.R") and I have trouble lo

[2022-11-30 15:15] rdmorin commented on #255
Thanks for pointing this out. I believe @ckrushton or @lkhilton should be able to help with this.

[2022-11-30 17:36] lkhilton commented on #255
Hi Ilias,

Thanks for your message, I'm glad you're finding our tools useful. Unfortunately the LymphGen source code was shared with us by George Wright and we don't have his permission to distribute it outside of our organization. I realize this limits the utility of our module for you, however I see a couple of possible ways forward for you:

1. Set the target of the LymphGen module to be the ou

[2022-11-30 18:19] rdmorin commented on #255
Can we also ask George directly if he's alright with us sharing it broadly?